<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/aop 
                           http://www.springframework.org/schema/aop/spring-aop.xsd
                           http://www.springframework.org/schema/mvc 
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd 
                           http://www.springframework.org/schema/jee 
                           http://www.springframework.org/schema/jee/spring-jee.xsd
                           http://www.springframework.org/schema/task
                           http://www.springframework.org/schema/task/spring-task.xsd">
    
    <!-- Start Space for DAO IMPL Configurations -->
    <bean name="loginDAO" class=" com.optum.oss.dao.impl.LoginDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="masterDAI" class=" com.optum.oss.dao.impl.MasterLookUpDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="loginTransDAO" class="com.optum.oss.transact.dao.impl.LoginTransactDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <property name="transactionTemplate" ref="transactionTemplate"></property>
    </bean>
    
    <bean name="userManagementDAO" class="com.optum.oss.dao.impl.UserManagementDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="userManagementTransatDAO" class="com.optum.oss.transact.dao.impl.UsermanagementTransactDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <property name="transactionTemplate" ref="transactionTemplate"></property>
    </bean>
    
    <bean name="organizationDAO" class="com.optum.oss.dao.impl.OrganizationDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
         <property name="jdbcTemplateSchema" ref="jdbcTemplateSchema"></property>
    </bean>
    
    <bean name="organizationTransactDAO" class=" com.optum.oss.transact.dao.impl.OrganizationTransactDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <property name="transactionTemplate" ref="transactionTemplate"></property>
         <property name="jdbcTemplateSchema" ref="jdbcTemplateSchema"></property>
          <property name="transactionTemplateSchema" ref="transactionTemplateSchema"></property>
    </bean>
    
    <bean name="manageRolesAndPermissionsDAO" class="com.optum.oss.dao.impl.ManageRolesAndPermissionsDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="manageRolesAndPermissionsTransactDAO" class="com.optum.oss.transact.dao.impl.ManageRolesAndPermissionsTransactDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <property name="transactionTemplate" ref="transactionTemplate"></property>
    </bean>
    
    <bean name="managePermissionGroupDAO" class="com.optum.oss.dao.impl.ManagePermissionGroupDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="managePermissionGroupTransactDAO" class="com.optum.oss.transact.dao.impl.ManagePermissionGroupTransactDAOImpl">
        <property name="transactionTemplate" ref="transactionTemplate"></property>
    </bean>
    
    <bean name="useractivationdao" class=" com.optum.oss.dao.impl.UserActivationDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="permissionDaoImpl" class=" com.optum.oss.dao.impl.DetailedPermissionsDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="emailDAO" class=" com.optum.oss.dao.impl.EmailDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="userProfileDAO" class=" com.optum.oss.dao.impl.UserProfileDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <property name="transactionTemplate" ref="transactionTemplate"></property>
    </bean>
    
    <bean name="manageEngagementsDAO" class="com.optum.oss.dao.impl.ManageEngagementsDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="manageEngagementsTransactDAO" class="com.optum.oss.transact.dao.impl.ManageEngagementsTransactDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <property name="transactionTemplate" ref="transactionTemplate"></property>
    </bean>
    
    <bean name="engagementDataUploadDAO" class="com.optum.oss.dao.impl.EngagementDataUploadDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="engagementDataUploadTransactDAO" class="com.optum.oss.transact.dao.impl.EngagementDataUploadTransactDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <property name="transactionTemplate" ref="transactionTemplate"></property>
    </bean>
    
    <bean name="analystValidationDAO" class="com.optum.oss.dao.impl.AnalystValidationDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean name="reportsDaoImpl" class="com.optum.oss.transact.dao.impl.ReportsDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean name="CVSSCalculatorDAO" class="com.optum.oss.dao.impl.CVSSCalculatorDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="analystValidationTransactDAO" class="com.optum.oss.transact.dao.impl.AnalystValidationTransactDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
        <property name="transactionTemplate" ref="transactionTemplate"></property>
    </bean>
   
    <bean name="remediationProjectManagerDao" class="com.optum.oss.dao.impl.RemediationProjectManagerDaoImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="roadMapDao" class="com.optum.oss.dao.impl.RoadMapDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="remediationDao" class="com.optum.oss.dao.impl.RemediationDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    
    <bean name="riskRegistryDAO" class="com.optum.oss.dao.impl.RiskRegistryDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <bean name="riskRegistryDashBoardDAO" class="com.optum.oss.dao.impl.RiskRegistryDashboardDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    <bean name="remediationDashBoardDAO" class="com.optum.oss.dao.impl.RemediationDashboardDAOImpl">
        <property name="jdbcTemplate" ref="jdbcTemplate"></property>
    </bean>
    
    <!-- End Space for DAO IMPL Configurations -->
    
   <bean id="messageSource"
          class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename" value="classpath:validations" />
        <property name="defaultEncoding" value="UTF-8" />
    </bean>
    
    <task:annotation-driven />
</beans>
