ALTER TABLE MAX2.CLNT_RMDTN_PLN ALTER COLUMN RMDTN_OWNR_USER_ID INT NULL

SET IDENTITY_INSERT NTF_MSG ON


SET IDENTITY_INSERT NTF_MSG OFF

GO
ALTER PROCEDURE [dbo].[RMDTN_GetFindingsByPlanKey]
(
	@CLNT_RMDTN_PLN_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  B.CLNT_VULN_INSTC_KEY,A.CLNT_RMDTN_PLN_KEY,B.VULN_RMDTN_STS_CD,B.CLOS_DT,C.IPADR,C.SFTW_NM,C.VULN_SEV_CD,
			C.VULN_NM,D.VULN_SEV_NM,E.VULN_RMDTN_STS_NM ,C.VULN_NM,F.VULN_CATGY_NM,C.CREAT_DT
			
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	'+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	JOIN	'+ @schema+'.CLNT_VULN_INSTC			C
	ON		B.CLNT_VULN_INSTC_KEY			=		C.CLNT_VULN_INSTC_KEY
	JOIN	VULN_RMDTN_STS							E
	ON		B.VULN_RMDTN_STS_CD				=		E.VULN_RMDTN_STS_CD
	JOIN	VULN_SEV								D
	ON		C.VULN_SEV_CD					=		D.VULN_SEV_CD
	JOIN	VULN_CATGY								F
	ON		C.VULN_CATGY_CD					=		F.VULN_CATGY_CD
	WHERE	A.CLNT_RMDTN_PLN_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_RMDTN_PLN_KEY)+'
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END

GO
ALTER PROCEDURE [dbo].[RMDTN_UpdateRiskRegistry]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@ADJ_SEV_CD				VARCHAR(3),
	@COMP_CTL_TXT			TEXT,
	@ENT_USER_ID			INTEGER,
	@Userid					INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)
	
	SET		@Query =	'UPDATE '+ @schema+'.CLNT_RISK_RGST
						SET ADJ_SEV_CD		= '+ isnull('''' + convert(varchar(3),@ADJ_SEV_CD) + '''','null') + ',
							COMP_CTL_TXT	= '+ISNULL('''' + REPLACE(CONVERT(VARCHAR(MAX),@COMP_CTL_TXT),'''','''''') + '''','NULL') +',
							ACPT_USER_ID		=  '+ isnull('''' + convert(varchar,@ENT_USER_ID) + '''','null') + ',
							UPDT_DT			=	'+'GETDATE()'+',
							UPDT_USER_ID	=	'+CONVERT(VARCHAR,@Userid)+'
							WHERE	CLNT_RISK_RGST_KEY		=  '+CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY)+''
	
	
 
--	PRINT    @Query
	EXECUTE (@Query)
	 SELECT @@ROWCOUNT AS RETVALS

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_GetRiskInfoByKey]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@schema					VARCHAR(50)

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT B.CLNT_RISK_RGST_KEY, B.ENT_DT,B.ADJ_SEV_CD,B.COMP_CTL_TXT,A.ORG_KEY,B.ENT_USER_ID,
					  C.FST_NM REG_OWNR_FST_NM,C.LST_NM REG_OWNR_LST_NM,C.DEPT_NM REG_OWNR_DEPT_NM,
					  A.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,A.RMDTN_OWNR_USER_ID,E.DEPT_NM RMDTN_OWNR_DEPT_NM,
					  E.FST_NM RMDTN_OWNR_FST_NM,E.LST_NM RMDTN_OWNR_LST_NM,A.RMDTN_PLN_STS_CD,A.RMDTN_PLN_NM,A.RMDTN_PLN_DESC,
					  A.RMDTN_PLN_CREAT_DT, A.RMDTN_PLN_NTF_DT,A.RMDTN_PLN_STRT_DT,A.RMDTN_PLN_DUE_DT,A.RMDTN_PLN_CLOS_DT,B.ACPT_USER_ID,
					  A.CREAT_DT,A.CREAT_USER_ID,D.RISK_RSPN_NM,B.RISK_RSPN_CD,B.RISK_JSTFY_TXT,B.ACPT_USER_SGN_TXT,B.ACPT_DT,B.NTF_DT
		
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	'+ @schema+'.CLNT_RISK_RGST				B
	ON		A.CLNT_RMDTN_PLN_KEY				=	B.CLNT_RMDTN_PLN_KEY
	LEFT JOIN	USER_PRFL								C
	ON		B.ACPT_USER_ID						=	C.USER_ID
	LEFT JOIN	USER_PRFL								E
	ON		A.RMDTN_OWNR_USER_ID				=	E.USER_ID
	LEFT JOIN    RISK_RSPN								D
    ON      B.RISK_RSPN_CD						=   D.RISK_RSPN_CD
	WHERE	B.CLNT_RISK_RGST_KEY				=	'+CONVERT(VARCHAR(50),@CLNT_RISK_RGST_KEY)+'
	AND		A.ROW_STS_KEY						=	1
 '
	--PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_GetRiskRegstWorklist]
(
	@Userid					INTEGER,
	@schema					VARCHAR(50),
	@UserFlag				VARCHAR(2),
	@ORG_NM					VARCHAR(100),
	@CLNT_ENGMT_CD			VARCHAR(50),
	@CLNT_ENGMT_NM			VARCHAR(100)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)

	IF	@UserFlag	= 'RO' --Registry Owner
	BEGIN
	SET		@Query = 'SELECT  C.CLNT_ENGMT_CD,C.CLNT_ORG_KEY,D.ORG_NM,C.CLNT_ENGMT_NM
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	JOIN	CLNT_ENGMT								C
	ON		B.CLNT_ENGMT_CD					=		C.CLNT_ENGMT_CD
    JOIN    ORG										D
    ON      D.ORG_KEY     =      C.CLNT_ORG_KEY
	WHERE	A.ACPT_USER_ID			=		'+CONVERT(VARCHAR,@Userid)+'
	AND     ISNULL(D.ORG_NM,'''')		 LIKE CASE WHEN '''+@ORG_NM+''' = '''' THEN  ISNULL(D.ORG_NM,'''') ELSE ''%'' + '''+@ORG_NM+''' + ''%'' END
	AND     ISNULL(C.CLNT_ENGMT_CD,'''') LIKE CASE WHEN '''+@CLNT_ENGMT_CD+''' = '''' THEN   C.CLNT_ENGMT_CD ELSE ''%'' + '''+@CLNT_ENGMT_CD+''' +''%'' END 
	AND     ISNULL(C.CLNT_ENGMT_NM,'''') LIKE CASE WHEN '''+@CLNT_ENGMT_NM+''' = '''' THEN   C.CLNT_ENGMT_NM ELSE ''%'' + '''+@CLNT_ENGMT_NM+''' + ''%''   END   
	ORDER BY CASE WHEN B.UPDT_DT ='''' THEN B.CREAT_DT ELSE B.UPDT_DT END DESC
 '
--	PRINT    @Query
	EXECUTE (@Query)
	END

	IF	@UserFlag	= 'RA' --Remediation Cordinator or Remediation Analyst
	BEGIN
	SET		@Query = 'SELECT  C.CLNT_ENGMT_CD,C.CLNT_ORG_KEY,D.ORG_NM,C.CLNT_ENGMT_NM
			
	FROM	CLNT_ENGMT								C
    JOIN    ORG										D
    ON      D.ORG_KEY						=		C.CLNT_ORG_KEY
	WHERE   ISNULL(D.ORG_NM,'''')		 LIKE CASE WHEN '''+@ORG_NM+''' = '''' THEN  ISNULL(D.ORG_NM,'''') ELSE ''%'' + '''+@ORG_NM+''' + ''%'' END
	AND     ISNULL(C.CLNT_ENGMT_CD,'''') LIKE CASE WHEN '''+@CLNT_ENGMT_CD+''' = '''' THEN   C.CLNT_ENGMT_CD ELSE ''%'' + '''+@CLNT_ENGMT_CD+''' +''%'' END 
	AND     ISNULL(C.CLNT_ENGMT_NM,'''') LIKE CASE WHEN '''+@CLNT_ENGMT_NM+''' = '''' THEN   C.CLNT_ENGMT_NM ELSE ''%'' + '''+@CLNT_ENGMT_NM+''' + ''%''   END   
--	WHERE	A.ENT_USER_ID					=		'+CONVERT(VARCHAR,@Userid)+'
	ORDER BY CASE WHEN C.UPDT_DT ='''' THEN C.CREAT_DT ELSE C.UPDT_DT END DESC
 '
--	PRINT    @Query
	EXECUTE (@Query)
	END
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END






GO

ALTER PROCEDURE [dbo].[RMDTN_GetRiskRegistrylist]
(
	@CLNT_ENGMT_CD			VARCHAR(30),
	@Userid					INTEGER,
	@schema					VARCHAR(50),
	@UserFlag				VARCHAR(2)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)

	IF	@UserFlag	= 'RO' --Registry Owner
	BEGIN
	SET		@Query = 'SELECT  A.CLNT_RISK_RGST_KEY,A.ADJ_SEV_CD,A.CLNT_RMDTN_PLN_KEY,B.RMDTN_PLN_NM,A.RISK_RGST_ITM_TOT_CNT,
					  A.RISK_RSPN_CD,A.ACPT_DT,A.ACPT_USER_ID,C.VULN_SEV_NM,D.RISK_RSPN_NM,F.FST_NM	,F.LST_NM,A.ACPT_USER_SGN_TXT																																																																																																																																																													
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_SEV								C
	ON		C.VULN_SEV_CD					=		A.ADJ_SEV_CD
    LEFT JOIN    RISK_RSPN								D
    ON      A.RISK_RSPN_CD						=   D.RISK_RSPN_CD
--	JOIN	CLNT_RISK_RGST_ITM						E
--	ON		E.CLNT_RISK_RGST_KEY			=		A.CLNT_RISK_RGST_KEY
	JOIN	USER_PRFL								F
	ON		F.USER_ID						=		A.ENT_USER_ID
	WHERE	B.CLNT_ENGMT_CD					=		'''+CONVERT(VARCHAR,@CLNT_ENGMT_CD)+'''
	AND		A.ACPT_USER_ID					=		'+CONVERT(VARCHAR,@Userid)+'
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')='''' THEN A.CREAT_DT ELSE A.UPDT_DT END DESC
 '
--	PRINT    @Query
	EXECUTE (@Query)
	END

	IF	@UserFlag	= 'RA' --Remediation Cordinator or Remediation Analyst Owner
	BEGIN
	SET		@Query = 'SELECT  A.CLNT_RISK_RGST_KEY,A.ADJ_SEV_CD,A.CLNT_RMDTN_PLN_KEY,B.RMDTN_PLN_NM,A.RISK_RGST_ITM_TOT_CNT,
					  A.RISK_RSPN_CD,A.ACPT_DT,A.ACPT_USER_ID,C.VULN_SEV_NM,D.RISK_RSPN_NM,F.FST_NM	,F.LST_NM,A.ACPT_USER_SGN_TXT																																																																																																																																																													
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_SEV								C
	ON		C.VULN_SEV_CD					=		A.ADJ_SEV_CD
    LEFT JOIN    RISK_RSPN								D
    ON      A.RISK_RSPN_CD						=   D.RISK_RSPN_CD
--	JOIN	CLNT_RISK_RGST_ITM						E
--	ON		E.CLNT_RISK_RGST_KEY			=		A.CLNT_RISK_RGST_KEY
	JOIN	USER_PRFL								F
	ON		F.USER_ID						=		'+CONVERT(VARCHAR,@Userid)+'
	WHERE	B.CLNT_ENGMT_CD					=		'''+CONVERT(VARCHAR,@CLNT_ENGMT_CD)+'''
--	AND		A.ENT_USER_ID					=		'+CONVERT(VARCHAR,@Userid)+'
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')=''''  THEN A.CREAT_DT ELSE A.UPDT_DT END DESC
 '
--	PRINT    @Query
	EXECUTE (@Query)
	END

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE [dbo].[CreateSchemaTables]
(
@SchemaName VARCHAR(50),
@ORG_KEY     INTEGER
)
AS
BEGIN
BEGIN TRY
SET NOCOUNT ON

DECLARE @Query1 VARCHAR(max)
DECLARE @Query2 VARCHAR(max)
DECLARE @Query3 VARCHAR(max)
DECLARE @Query4 VARCHAR(max)
DECLARE @Query5 VARCHAR(max)
DECLARE @Query6 VARCHAR(max)
DECLARE @Query7 VARCHAR(max)
DECLARE @Query8 VARCHAR(max)

SET @Query1= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_INSTC'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC 
(
       [CLNT_VULN_INSTC_KEY] [int] IDENTITY(1,1) NOT NULL,
       [ROW_STS_KEY] [int] NOT NULL,
       [ORG_KEY] [int] NOT NULL,
       [CLNT_ENGMT_CD] [varchar](30) NOT NULL,
       [SECUR_SRVC_CD] [varchar](10) NOT NULL,
       [VULN_SRC_KEY] [int] NOT NULL,
       [VULN_INSTC_STS_CD] [varchar](3) NOT NULL,
       [VULN_SEV_CD] [varchar](3) NULL,
       [VULN_IMP_CD] [varchar](3) NULL,
       [RISK_PRBL_CD] [varchar](3) NULL,
       [RMDTN_CST_EFFRT_CD] [varchar](3) NULL,
       [VULN_CATGY_CD] [varchar](10) NULL,
       [OWASP_TOP_10_KEY] [int] NULL,
       [CVE_ID] [varchar](25) NULL,
       [OS_KEY] [int] NULL,
       [SRC_VULN_SCAN_ID] [varchar](150) NULL,
       [SRC_VULN_SCAN_STRT_DT] [datetime] NULL,
       [SRC_VULN_SCAN_END_DT] [datetime] NULL,
       [SRC_VULN_INSTC_ID] [varchar](150) NULL,
       [SRC_VULN_ID] [varchar](150) NULL,
       [VULN_NM] [varchar](255) NOT NULL,
       [VULN_DESC] [text] NULL,
       [VULN_CREAT_DT] [datetime] NOT NULL,
       [IPADR] [varchar](39) NULL,
       [PORT_NBR] [int] NULL,
       [SRC_ADVS_TXT] [varchar](1024) NULL,
       [SRC_VULN_BAS_SCOR] [decimal](10, 2) NULL,
       [VULN_BAS_SCOR] [decimal](10, 2) NULL,
       [VULN_IMP_SUB_SCOR] [decimal](10, 2) NULL,
       [VULN_EXPLT_SUB_SCOR] [decimal](10, 2) NULL,
       [VULN_TMPRL_SCOR] [decimal](10, 2) NULL,
       [VULN_ENV_SCOR] [decimal](10, 2) NULL,
       [VULN_OVALL_SCOR] [decimal](10, 2) NULL,
       [VULN_VCTR_TXT] [varchar](100) NULL,
       [NTWK_NM] [varchar](150) NULL,
       [PRTCL_NM] [varchar](255) NULL,
       [HST_NM] [varchar](150) NULL,
       [DOM_NM] [varchar](150) NULL,
       [SFTW_NM] [varchar](150) NULL,
       [APPL_URL] [nvarchar](2000) NULL,
       [NETBIOS_NM] [varchar](150) NULL,
       [MAC_ADR_NM] [varchar](150) NULL,
       [VULN_TECH_COMMT_TXT] [text] NULL,
       [VULN_IMP_COMMT_TXT] [text] NULL,
       [RECOM_COMMT_TXT] [text] NULL,
       [ROOT_CAUS_COMMT_TXT] [text] NULL,
       [APPL_FL_UPLOAD_LOG_KEY] [int] NULL,
       [CREAT_DT] [datetime] NOT NULL,
       [CREAT_USER_ID] [int] NOT NULL,
       [UPDT_DT] [datetime] NULL,
       [UPDT_USER_ID] [int] NULL,
	   [VULN_VLD_DT] [datetime]  NULL,
	   [VULN_CLOS_DT] [datetime]  NULL,
	   [CLOS_RSN_TXT] text NULL,
CONSTRAINT [PK_CLNT_VULN_INSTC] PRIMARY KEY CLUSTERED 
(
       [CLNT_VULN_INSTC_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY] 

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([APPL_FL_UPLOAD_LOG_KEY])
REFERENCES [dbo].[APPL_FL_UPLOAD_LOG] ([APPL_FL_UPLOAD_LOG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([CVE_ID])
REFERENCES [dbo].[CVE] ([CVE_ID])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([ORG_KEY])
REFERENCES [dbo].[ORG] ([ORG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([OS_KEY])
REFERENCES [dbo].[OS] ([OS_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([RISK_PRBL_CD])
REFERENCES [dbo].[RISK_PRBL] ([RISK_PRBL_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([RMDTN_CST_EFFRT_CD])
REFERENCES [dbo].[RMDTN_CST_EFFRT] ([RMDTN_CST_EFFRT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_CATGY_CD])
REFERENCES [dbo].[VULN_CATGY] ([VULN_CATGY_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_IMP_CD])
REFERENCES [dbo].[VULN_IMP] ([VULN_IMP_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_INSTC_STS_CD])
REFERENCES [dbo].[VULN_INSTC_STS] ([VULN_INSTC_STS_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_SEV_CD])
REFERENCES [dbo].[VULN_SEV] ([VULN_SEV_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_SRC_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([CLNT_ENGMT_CD], [SECUR_SRVC_CD])
REFERENCES [dbo].[CLNT_SECUR_SRVC_ENGMT] ([CLNT_ENGMT_CD], [SECUR_SRVC_CD])  
END
ELSE
BEGIN
SELECT -1 Retval
END 
'


--  PRINT  (@query1)
EXECUTE (@Query1)

SET @Query2= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_SECUR_CTL'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL](
       [CLNT_VULN_INSTC_KEY] [int] NOT NULL,
       [REG_CMPLN_CD] [varchar](20) NOT NULL,
       [REG_CMPLN_VER] [varchar](20) NOT NULL,
       [SECUR_CTL_CD] [varchar](20) NOT NULL,
       [ROW_STS_KEY] [int] NOT NULL,
       [CREAT_DT] [datetime] NULL,
       [CREAT_USER_ID] [int] NULL,
       [UPDT_DT] [datetime] NULL,
       [UPDT_USER_ID] [int] NULL,
CONSTRAINT [PK_CLNT_VULN_SECUR_CTL] PRIMARY KEY CLUSTERED 
(
       [CLNT_VULN_INSTC_KEY] ASC,
       [REG_CMPLN_CD] ASC,
       [REG_CMPLN_VER] ASC,
       [SECUR_CTL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([CLNT_VULN_INSTC_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_VULN_INSTC] ([CLNT_VULN_INSTC_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([REG_CMPLN_CD], [REG_CMPLN_VER], [SECUR_CTL_CD])
REFERENCES [dbo].[SECUR_CTL] ([REG_CMPLN_CD], [REG_CMPLN_VER], [SECUR_CTL_CD]) 
SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query2)

SET @Query3= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_ROADMAP_FACT'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT](
       [CLNT_ROADMAP_KEY] [int] NOT NULL,
       [ROW_STS_KEY] [int] NULL,
       [ORG_KEY] [int] NULL,
       [CLNT_ENGMT_CD] [varchar](30) NULL,
       [CSA_DOM_CD] [varchar](10) NOT NULL,
       [VULN_CATGY_CD] [varchar](10) NOT NULL,
       [VULN_SEV_CD] [varchar](3) NOT NULL,
       [RMDTN_CST_EFFRT_CD] [varchar](3) NOT NULL,
       [ROADMAP_TMLN_CD] [char](1) NOT NULL,
       [ROADMAP_EFF_DT] [datetime] NULL,
       [ROADMAP_PUBL_DT] [datetime] NULL,
       [VULN_CNT] [int] NULL,
       [ROADMAP_COMMT] [varchar](5000) NULL,
       [CREAT_DT] [datetime] NOT NULL,
       [CREAT_USER_ID] [int] NOT NULL,
       [UPDT_DT] [datetime] NULL,
       [UPDT_USER_ID] [int] NULL,
CONSTRAINT [PK_CLNT_ROADMAP_FACT] PRIMARY KEY CLUSTERED 
(
       [CLNT_ROADMAP_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_ENGMT_126] FOREIGN KEY([CLNT_ENGMT_CD])
REFERENCES [dbo].[CLNT_ENGMT] ([CLNT_ENGMT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_CLNT_ENGMT_126]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_CSA_REF_ARCH_DOM_141] FOREIGN KEY([CSA_DOM_CD])
REFERENCES [dbo].[CSA_REF_ARCH_DOM] ([CSA_DOM_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_CSA_REF_ARCH_DOM_141]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_131] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_MSTR_LKP_131]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_ORG_125] FOREIGN KEY([ORG_KEY])
REFERENCES [dbo].[ORG] ([ORG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_ORG_125]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_RMDTN_CST_EFFRT_128] FOREIGN KEY([RMDTN_CST_EFFRT_CD])
REFERENCES [dbo].[RMDTN_CST_EFFRT] ([RMDTN_CST_EFFRT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_RMDTN_CST_EFFRT_128]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_ROADMAP_TMLN_130] FOREIGN KEY([ROADMAP_TMLN_CD])
REFERENCES [dbo].[ROADMAP_TMLN] ([ROADMAP_TMLN_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_ROADMAP_TMLN_130]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_VULN_CATGY_129] FOREIGN KEY([VULN_CATGY_CD])
REFERENCES [dbo].[VULN_CATGY] ([VULN_CATGY_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_VULN_CATGY_129]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_VULN_SEV_127] FOREIGN KEY([VULN_SEV_CD])
REFERENCES [dbo].[VULN_SEV] ([VULN_SEV_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_VULN_SEV_127]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query3)

SET @Query4= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RMDTN_PLN'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN](
	[CLNT_RMDTN_PLN_KEY] [int] IDENTITY(1,1) NOT NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[ORG_KEY] [int] NOT NULL,
	[CLNT_ENGMT_CD] [varchar](30) NOT NULL,
	[RMDTN_OWNR_USER_ID] [int]  NULL,
	[RMDTN_PLN_STS_CD] [char](1) NOT NULL,
	[RMDTN_PLN_NM] [varchar](150) NOT NULL,
	[RMDTN_PLN_DESC] [text] NULL,
	[RMDTN_PLN_CREAT_DT] [datetime] NOT NULL,
	[RMDTN_PLN_NTF_DT] [datetime] NULL,
	[RMDTN_PLN_STRT_DT] [date] NULL,
	[RMDTN_PLN_DUE_DT] [date] NULL,
	[RMDTN_PLN_CLOS_DT] [datetime] NULL,
	[ASSOC_VULN_TOT_CNT] [int] NOT NULL,
	[ASSOC_VULN_CMPL_CNT] [int] NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RMDTN_PLN] PRIMARY KEY CLUSTERED 
(
	[CLNT_RMDTN_PLN_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_ENGMT_142] FOREIGN KEY([CLNT_ENGMT_CD])
REFERENCES [dbo].[CLNT_ENGMT] ([CLNT_ENGMT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_CLNT_ENGMT_142]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_150] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_MSTR_LKP_150]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_ORG_143] FOREIGN KEY([ORG_KEY])
REFERENCES [dbo].[ORG] ([ORG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_ORG_143]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_RMDTN_PLN_STS_159] FOREIGN KEY([RMDTN_PLN_STS_CD])
REFERENCES [dbo].[RMDTN_PLN_STS] ([RMDTN_PLN_STS_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_RMDTN_PLN_STS_159]


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_156] FOREIGN KEY([RMDTN_OWNR_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_USER_PRFL_156]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query4)

SET @Query5= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_RMDTN_PLN_ITM'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM](
	[CLNT_VULN_INSTC_KEY] [int] NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NOT NULL,
	[VULN_RMDTN_STS_CD] [char](1) NOT NULL,
	[CLOS_DT] [datetime] NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
	[CLOS_RSN_TXT] [text] NULL,
 CONSTRAINT [PK_CLNT_VULN_RMDTN_PLN_ITM] PRIMARY KEY CLUSTERED 
(
	[CLNT_VULN_INSTC_KEY] ASC,
	[CLNT_RMDTN_PLN_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_149] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_149]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_VULN_INSTC_148] FOREIGN KEY([CLNT_VULN_INSTC_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_VULN_INSTC] ([CLNT_VULN_INSTC_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_CLNT_VULN_INSTC_148]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_160] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_MSTR_LKP_160]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_VULN_RMDTN_STS_151] FOREIGN KEY([VULN_RMDTN_STS_CD])
REFERENCES [dbo].[VULN_RMDTN_STS] ([VULN_RMDTN_STS_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_VULN_RMDTN_STS_151]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query5)


SET @Query6= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RMDTN_PLN_COMMT'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT](
	[CLNT_RMDTN_PLN_COMMT_KEY] [int] IDENTITY(1,1) NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NOT NULL,
	[ENT_DT] [datetime] NOT NULL,
	[COMMT_TXT] [text] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RMDTN_PLN_COMMT] PRIMARY KEY CLUSTERED 
(
	[CLNT_RMDTN_PLN_COMMT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_147] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_147]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query6)

SET @Query7= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RISK_RGST'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST](
	[CLNT_RISK_RGST_KEY] [int] IDENTITY(1,1) NOT NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NULL,
	[ADJ_SEV_CD] [varchar](3) NOT NULL,
	[ENT_USER_ID] [int] NOT NULL,
	[ENT_DT] [datetime] NOT NULL,
	[COMP_CTL_TXT] [text] NOT NULL,
	[NTF_DT] [datetime] NULL,
	[ACPT_USER_ID] [int] NULL,
	[ACPT_DT] [datetime] NULL,
	[ACPT_USER_SGN_TXT] [varchar](150) NULL,
	[RISK_RSPN_CD] [char](1) NULL,
	[RISK_JSTFY_TXT] [text] NULL,
	[RISK_RGST_ITM_TOT_CNT] [int] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RISK_RGST] PRIMARY KEY CLUSTERED 
(
	[CLNT_RISK_RGST_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_172] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_172]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_167] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_MSTR_LKP_167]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_RISK_RSPN_168] FOREIGN KEY([RISK_RSPN_CD])
REFERENCES [dbo].[RISK_RSPN] ([RISK_RSPN_CD])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_RISK_RSPN_168]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_157] FOREIGN KEY([ACPT_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])
ALTER TABLE [dbo].[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_USER_PRFL_157]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_158] FOREIGN KEY([ENT_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])
ALTER TABLE [dbo].[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_USER_PRFL_158]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_VULN_SEV_169] FOREIGN KEY([ADJ_SEV_CD])
REFERENCES [dbo].[VULN_SEV] ([VULN_SEV_CD])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_VULN_SEV_169]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query7)

SET @Query8= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RISK_RGST'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM](
	[CLNT_RISK_RGST_KEY] [int] NOT NULL,
	[CLNT_VULN_INSTC_KEY] [int] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RISK_RGST_ITM] PRIMARY KEY CLUSTERED 
(
	[CLNT_RISK_RGST_KEY] ASC,
	[CLNT_VULN_INSTC_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RISK_RGST_166] FOREIGN KEY([CLNT_RISK_RGST_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RISK_RGST] ([CLNT_RISK_RGST_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM] CHECK CONSTRAINT [FK_CLNT_RISK_RGST_166]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_VULN_INSTC_173] FOREIGN KEY([CLNT_VULN_INSTC_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_VULN_INSTC] ([CLNT_VULN_INSTC_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM] CHECK CONSTRAINT [FK_CLNT_VULN_INSTC_173]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query8)

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END;



GO

CREATE PROCEDURE [dbo].[RMDTN_UpdRegistryUserDate]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@ENT_USER_ID			INTEGER,
	@Userid					INTEGER,
	@schema					VARCHAR(50),
	@Flag					VARCHAR(1)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)
	
	IF		@Flag ='U'
	BEGIN
	SET		@Query =		'UPDATE '+ @schema+'.CLNT_RISK_RGST
							 SET 
							 NTF_DT				= '+'GETDATE()'+',
							 ACPT_USER_ID		=  '+ isnull('''' + convert(varchar,@ENT_USER_ID) + '''','null') + ',
							 UPDT_DT			=	'+'GETDATE()'+',
							 UPDT_USER_ID		=	'+CONVERT(VARCHAR,@Userid)+'
							 WHERE	
							 CLNT_RISK_RGST_KEY	=  '+CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY)+''
	
	
 
--	PRINT    @Query
	EXECUTE (@Query)
	 SELECT @@ROWCOUNT AS RETVALS
	END
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO



ALTER PROCEDURE [dbo].[RMDTN_GetPlanListByEngmt]
(
	@CLNT_ENGMT_CD			VARCHAR(50),
	@schema					VARCHAR(50),
	@Userid					INTEGER,
	@Flag					VARCHAR(3)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	IF @Flag	= 'AL'
	BEGIN

	SET		@Query = 'SELECT  A.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,A.RMDTN_OWNR_USER_ID,CONCAT(C.FST_NM,'''',C.LST_NM)Owner,
					  A.RMDTN_PLN_STS_CD,B.RMDTN_PLN_STS_NM,
					  A.RMDTN_PLN_NM,A.RMDTN_PLN_DESC,A.RMDTN_PLN_CREAT_DT,A.RMDTN_PLN_NTF_DT,A.RMDTN_PLN_STRT_DT,
					  A.RMDTN_PLN_DUE_DT,A.RMDTN_PLN_CLOS_DT,A.ASSOC_VULN_TOT_CNT,A.ASSOC_VULN_CMPL_CNT,A.ORG_KEY,
					  DATEDIFF(DAY,A.RMDTN_PLN_NTF_DT,GETDATE()) DAYSOPEN,
					  CASE WHEN A.ASSOC_VULN_TOT_CNT <> 0 THEN CONVERT(INTEGER,(convert(numeric(18,2),A.ASSOC_VULN_CMPL_CNT)/convert(numeric(18,2),A.ASSOC_VULN_TOT_CNT))*100) ELSE 0 END Completion


	FROM	'+ @schema+'.CLNT_RMDTN_PLN		A
	JOIN	RMDTN_PLN_STS					B
	ON		A.RMDTN_PLN_STS_CD		=		B.RMDTN_PLN_STS_CD
	LEFT JOIN	USER_PRFL						C
	ON		A.RMDTN_OWNR_USER_ID	=		C.USER_ID
	WHERE	A.CLNT_ENGMT_CD			=		'''+ @CLNT_ENGMT_CD+'''
	AND		A.ROW_STS_KEY			=		1 
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')='''' THEN A.CREAT_DT ELSE A.UPDT_DT END DESC'
 
 	--PRINT    @Query
	 EXECUTE (@Query)
	END

	IF @Flag	= 'RO'
	BEGIN

	SET		@Query = 'SELECT  A.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,A.RMDTN_OWNR_USER_ID,CONCAT(C.FST_NM,'''',C.LST_NM)Owner,
					  A.RMDTN_PLN_STS_CD,B.RMDTN_PLN_STS_NM,
					  A.RMDTN_PLN_NM,A.RMDTN_PLN_DESC,A.RMDTN_PLN_CREAT_DT,A.RMDTN_PLN_NTF_DT,A.RMDTN_PLN_STRT_DT,
					  A.RMDTN_PLN_DUE_DT,A.RMDTN_PLN_CLOS_DT,A.ASSOC_VULN_TOT_CNT,A.ASSOC_VULN_CMPL_CNT,A.ORG_KEY,
					  DATEDIFF(DAY,A.RMDTN_PLN_NTF_DT,GETDATE()) DAYSOPEN,
					  CASE WHEN A.ASSOC_VULN_TOT_CNT <> 0 THEN CONVERT(INTEGER,(convert(numeric(18,2),A.ASSOC_VULN_CMPL_CNT)/convert(numeric(18,2),A.ASSOC_VULN_TOT_CNT))*100) ELSE 0 END Completion


	FROM	'+ @schema+'.CLNT_RMDTN_PLN		A
	JOIN	RMDTN_PLN_STS					B
	ON		A.RMDTN_PLN_STS_CD		=		B.RMDTN_PLN_STS_CD
	JOIN	USER_PRFL						C
	ON		A.RMDTN_OWNR_USER_ID	=		C.USER_ID
	WHERE	A.CLNT_ENGMT_CD			=		'''+ @CLNT_ENGMT_CD+'''
	AND		A.ROW_STS_KEY			=		1
	AND		A.RMDTN_OWNR_USER_ID	=		'+ isnull('''' + convert(varchar(10),@Userid) + '''','null') + '
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')='''' THEN A.CREAT_DT ELSE A.UPDT_DT END DESC'
 
 --	PRINT    @Query
EXECUTE (@Query)
	END



END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END




GO
ALTER PROCEDURE [dbo].[RMDTN_GetPlanInfoByKey]
(
	@CLNT_RMDTN_PLN_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  A.CLNT_RMDTN_PLN_KEY,A.ORG_KEY,A.CLNT_ENGMT_CD,A.RMDTN_OWNR_USER_ID,
					  A.RMDTN_PLN_STS_CD,A.RMDTN_PLN_NM,A.RMDTN_PLN_DESC,A.RMDTN_PLN_CREAT_DT,
					  A.RMDTN_PLN_NTF_DT,A.RMDTN_PLN_STRT_DT,A.RMDTN_PLN_DUE_DT,A.RMDTN_PLN_CLOS_DT,A.ASSOC_VULN_TOT_CNT,
					  A.ASSOC_VULN_CMPL_CNT,A.CREAT_DT,A.CREAT_USER_ID,B.RMDTN_PLN_STS_NM,C.FST_NM UserName,C.DEPT_NM
		
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	RMDTN_PLN_STS							B
	ON		A.RMDTN_PLN_STS_CD				=		B.RMDTN_PLN_STS_CD
	LEFT JOIN	USER_PRFL								C
	ON		A.RMDTN_OWNR_USER_ID			=		C.USER_ID
	WHERE	A.CLNT_RMDTN_PLN_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_RMDTN_PLN_KEY)+'
	AND		A.ROW_STS_KEY					=		1
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END
-- Reports

GO

CREATE PROCEDURE [dbo].[RMDTN_ReportRiksRegistrySeverity]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50)	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)

 
 SET		  @Query ='	 
 SELECT   A.ACPT_USER_ID,D.FST_NM+'' ''+D.LST_NM UserName,
		  COUNT(DISTINCT CASE WHEN A.ADJ_SEV_CD=''C'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Critical'',
		  COUNT(DISTINCT CASE WHEN A.ADJ_SEV_CD=''H'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''High'',
		  COUNT(DISTINCT CASE WHEN A.ADJ_SEV_CD=''M'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Medium'',
		  COUNT(DISTINCT CASE WHEN A.ADJ_SEV_CD=''L'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Low'',
		  COUNT(DISTINCT A.CLNT_RISK_RGST_KEY )''UserCount''
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 JOIN	  USER_PRFL							  D
 ON		  A.ACPT_USER_ID					= D.USER_ID
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
 GROUP BY A.ACPT_USER_ID,D.FST_NM,D.LST_NM
'
--PRINT @Query
EXECUTE (@Query)



 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

CREATE PROCEDURE [dbo].[RMDTN_ReportRiksRegistryOwner]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50)	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)

 
 SET		  @Query ='	 
 SELECT   A.ACPT_USER_ID,D.FST_NM+'' ''+D.LST_NM UserName,
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''A''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Accepted'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''M''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Mitigate'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''S''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Share'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''T''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Transfer'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''V''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Avoid'',
		  COUNT(DISTINCT A.CLNT_RISK_RGST_KEY )''UserCount''
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 JOIN	  USER_PRFL							  D
 ON		  A.ACPT_USER_ID					= D.USER_ID
 JOIN	  RISK_RSPN							  E
 ON		  A.RISK_RSPN_CD					= E.RISK_RSPN_CD
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
 GROUP BY A.ACPT_USER_ID,D.FST_NM,D.LST_NM
'
--PRINT @Query
 EXECUTE (@Query)

 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
CREATE PROCEDURE [dbo].[RMDTN_ReportRegistryDetails]
(
	@CLNT_ENGMT_CD			VARCHAR(50),
	@schema					VARCHAR(50),
	@ADJ_SEV_CD				VARCHAR(2)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  C.CLNT_RISK_RGST_KEY,A.ORG_KEY,A.RMDTN_PLN_STS_CD,B.RMDTN_PLN_STS_NM,A.RMDTN_PLN_NM,ISNULL(DATEDIFF(DAY,GETDATE(),C.NTF_DT),0)''Days Open'',
					  COUNT(D.CLNT_VULN_INSTC_KEY)Instances,
					  (A.ASSOC_VULN_CMPL_CNT/A.ASSOC_VULN_TOT_CNT)*100 ''Completion''
					 
		
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	RMDTN_PLN_STS							B
	ON		A.RMDTN_PLN_STS_CD				=		B.RMDTN_PLN_STS_CD
	JOIN	'+ @schema+'.CLNT_RISK_RGST								C
	ON		A.CLNT_RMDTN_PLN_KEY			=		C.CLNT_RMDTN_PLN_KEY
	JOIN	'+ @schema+'.CLNT_RISK_RGST_ITM						D
	ON		C.CLNT_RISK_RGST_KEY			=		D.CLNT_RISK_RGST_KEY
	WHERE	C.ADJ_SEV_CD					=		CASE WHEN '''+@ADJ_SEV_CD+''' = '''' THEN 	C.ADJ_SEV_CD ELSE '''+@ADJ_SEV_CD+''' END
	AND		A.CLNT_ENGMT_CD					=		'''+@CLNT_ENGMT_CD + '''
	GROUP BY C.CLNT_RISK_RGST_KEY,A.ORG_KEY,A.RMDTN_PLN_STS_CD,A.RMDTN_PLN_NM,C.NTF_DT,A.ASSOC_VULN_CMPL_CNT,A.ASSOC_VULN_TOT_CNT,B.RMDTN_PLN_STS_NM
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

CREATE PROCEDURE [dbo].[RMDTN_ReportRiksRegistry]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
	@SECUR_SRVC_CD	VARCHAR(100),	
	@Flag			VARCHAR(2),-- AP - Application,SS-SSID,AL- ALL
	@APPNETCD		VARCHAR(500),
    @schema			 VARCHAR(50)	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
 SET		  @Query ='	 

 SELECT   COUNT(DISTINCT CASE WHEN A.ADJ_SEV_CD=''C'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Critical'',
		  COUNT(DISTINCT CASE WHEN A.ADJ_SEV_CD=''H'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''High'',
		  COUNT(DISTINCT CASE WHEN A.ADJ_SEV_CD=''M'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Medium'',
		  COUNT(DISTINCT CASE WHEN A.ADJ_SEV_CD=''L'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Low'',
		  COUNT(DISTINCT A.CLNT_RISK_RGST_KEY)''Risk'',
		  COUNT(DISTINCT B.CLNT_VULN_INSTC_KEY)''Items''
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 JOIN	  VULN_SEV							  D
 ON		  A.ADJ_SEV_CD						= D.VULN_SEV_CD
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
'

 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

CREATE PROCEDURE [dbo].[RMDTN_ReportRiksRegistryResponse]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50)	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
  SET		  @Query ='	 
  SELECT   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RISK_RGST_KEY)))*100''OPEN'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')<>'''' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RISK_RGST_KEY)))*100''CLOSED''
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
'
---PRINT @Query
 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


-- REpots End