
GO
ALTER PROCEDURE [dbo].[RMDTN_ReportRegistryDetails]
(
	@CLNT_ENGMT_CD			VARCHAR(50),
	@schema					VARCHAR(50),
	@ADJ_SEV_CD				VARCHAR(2)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  C.CLNT_RISK_RGST_KEY,A.ORG_KEY,A.RMDTN_PLN_STS_CD,B.RMDTN_PLN_STS_NM,A.RMDTN_PLN_NM,
					   ISNULL(DATEDIFF(DAY,A.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(A.RMDTN_PLN_CLOS_DT,'''')='''' THEN GETDATE() ELSE A.RMDTN_PLN_CLOS_DT END ),0)  ''Days Open'',
					  COUNT(D.CLNT_VULN_INSTC_KEY)Instances,
					  (A.ASSOC_VULN_CMPL_CNT/A.ASSOC_VULN_TOT_CNT)*100 ''Completion''
					 
		
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	RMDTN_PLN_STS							B
	ON		A.RMDTN_PLN_STS_CD				=		B.RMDTN_PLN_STS_CD
	JOIN	'+ @schema+'.CLNT_RISK_RGST								C
	ON		A.CLNT_RMDTN_PLN_KEY			=		C.CLNT_RMDTN_PLN_KEY
	JOIN	'+ @schema+'.CLNT_RISK_RGST_ITM						D
	ON		C.CLNT_RISK_RGST_KEY			=		D.CLNT_RISK_RGST_KEY
	WHERE	C.ADJ_SEV_CD					=		CASE WHEN '''+@ADJ_SEV_CD+''' = '''' THEN 	C.ADJ_SEV_CD ELSE '''+@ADJ_SEV_CD+''' END
	AND		A.CLNT_ENGMT_CD					=		'''+@CLNT_ENGMT_CD + '''
	GROUP BY C.CLNT_RISK_RGST_KEY,A.ORG_KEY,A.RMDTN_PLN_STS_CD,A.RMDTN_PLN_NM,A.RMDTN_PLN_NTF_DT,A.ASSOC_VULN_CMPL_CNT,A.ASSOC_VULN_TOT_CNT,B.RMDTN_PLN_STS_NM,A.RMDTN_PLN_CLOS_DT
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
CREATE PROCEDURE  [dbo].[RMDTN_ReportRemediation]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50)
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)

SET @Query='
IF OBJECT_ID(''dbo.#1'', ''U'') IS NOT NULL 
  DROP TABLE dbo.#1; 

SELECT	 B.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,COUNT(DISTINCT C.CLNT_VULN_INSTC_KEY)FindingCount,
		 SUM(A.VULN_OVALL_SCOR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)SEVAVG INTO dbo.#1
FROM	 '+@Schema+'.CLNT_VULN_INSTC					A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN					B
ON		 A.CLNT_ENGMT_CD					=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM			C
ON		 B.CLNT_RMDTN_PLN_KEY				=	C.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY				=	C.CLNT_VULN_INSTC_KEY
WHERE	 A.CLNT_ENGMT_CD					=	'''+@CLNT_ENGMT_CD+'''
GROUP BY  B.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD
--SELECT * FROM  dbo.#1; 


IF OBJECT_ID(''dbo.#2'', ''U'') IS NOT NULL 
  DROP TABLE dbo.#2; 

SELECT  CLNT_RMDTN_PLN_KEY,SUM(SEVSQRT)SEVSUM  INTO dbo.#2 FROM(
SELECT  B.CLNT_RMDTN_PLN_KEY,
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))*
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))SEVSQRT

FROM	 '+@Schema+'.CLNT_VULN_INSTC				A
JOIN	 dbo.#1								B
ON		 A.CLNT_ENGMT_CD				=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
AND		 C.CLNT_RMDTN_PLN_KEY			=	B.CLNT_RMDTN_PLN_KEY
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
)Z
GROUP BY CLNT_RMDTN_PLN_KEY
--SELECT * FROM dbo.#2


IF OBJECT_ID(''dbo.#3'', ''U'') IS NOT NULL 
 DROP TABLE dbo.#3;

SELECT	 C.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,MAX(VULN_OVALL_SCOR)OVERALLMax,
		 SUM(B.RMDTN_CST_EFFRT_ORDR_NBR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)CST INTO dbo.#3
FROM	 '+@Schema+'.CLNT_VULN_INSTC			A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 RMDTN_CST_EFFRT				B
ON		 A.RMDTN_CST_EFFRT_CD		=	B.RMDTN_CST_EFFRT_CD
WHERE	 A.CLNT_ENGMT_CD			=	'''+@CLNT_ENGMT_CD+'''
GROUP BY C.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD
--SELECT * FROM Dbo.#3

IF OBJECT_ID(''dbo.#4'', ''U'') IS NOT NULL 
 DROP TABLE dbo.#4;
SELECT	 A.CLNT_ENGMT_CD,C.CLNT_RMDTN_PLN_KEY,COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)VULCOUNT,(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)))SEV1,F.OVERALLMax,
		 (F.OVERALLMax -(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY))))SEV,F.CST INTO Dbo.#4
FROM	 '+@Schema+'.CLNT_VULN_INSTC				A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 #2									E
ON		 C.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
AND		 D.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
JOIN	 #3									F
ON		 C.CLNT_RMDTN_PLN_KEY			=	F.CLNT_RMDTN_PLN_KEY
AND		 E.CLNT_RMDTN_PLN_KEY			=	F.CLNT_RMDTN_PLN_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
GROUP BY C.CLNT_RMDTN_PLN_KEY,E.SEVSUM,F.CST,F.OVERALLMax,A.CLNT_ENGMT_CD
--SELECT * from dbo.#4;


		SELECT  COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low,
				COUNT(B.CLNT_RMDTN_PLN_KEY)ActionPlan,SUM(E.ASSOC_VULN_TOT_CNT) Instances

		FROM	VULN_SEV				A
		JOIN	dbo.#4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.#4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		'
EXECUTE(@Query)
--PRINT(@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END





GO

CREATE PROCEDURE [dbo].[RMDTN_ReportRemediationComplete]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50)	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
  SET		  @Query ='	 
  SELECT   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')<>''C''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''OPEN'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''CLOSED''
 FROM	  '+ @schema+'.CLNT_RMDTN_PLN		  A
 JOIN	  '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	  B
 ON		  A.CLNT_RMDTN_PLN_KEY				= B.CLNT_RMDTN_PLN_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
'
---PRINT @Query
 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
CREATE PROCEDURE  [dbo].[RMDTN_ReportRemediationNotification]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50)
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)
DECLARE @Query1 VARCHAR(MAX)

SET @Query='
IF OBJECT_ID(''dbo.Tab1'', ''U'') IS NOT NULL 
  DROP TABLE dbo.Tab1; 

SELECT	 B.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,COUNT(DISTINCT C.CLNT_VULN_INSTC_KEY)FindingCount,
		 SUM(A.VULN_OVALL_SCOR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)SEVAVG INTO dbo.Tab1
FROM	 '+@Schema+'.CLNT_VULN_INSTC					A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN					B
ON		 A.CLNT_ENGMT_CD					=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM			C
ON		 B.CLNT_RMDTN_PLN_KEY				=	C.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY				=	C.CLNT_VULN_INSTC_KEY
WHERE	 A.CLNT_ENGMT_CD					=	'''+@CLNT_ENGMT_CD+'''
GROUP BY  B.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD

IF OBJECT_ID(''dbo.Tab2'', ''U'') IS NOT NULL 
  DROP TABLE dbo.Tab2; 

SELECT  CLNT_RMDTN_PLN_KEY,SUM(SEVSQRT)SEVSUM  INTO dbo.Tab2 FROM(
SELECT  B.CLNT_RMDTN_PLN_KEY,
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))*
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))SEVSQRT

FROM	 '+@Schema+'.CLNT_VULN_INSTC				A
JOIN	 dbo.Tab1								B
ON		 A.CLNT_ENGMT_CD				=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
AND		 C.CLNT_RMDTN_PLN_KEY			=	B.CLNT_RMDTN_PLN_KEY
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
)Z
GROUP BY CLNT_RMDTN_PLN_KEY


IF OBJECT_ID(''dbo.Tab3'', ''U'') IS NOT NULL 
 DROP TABLE dbo.Tab3;

SELECT	 C.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,MAX(VULN_OVALL_SCOR)OVERALLMax,
		 SUM(B.RMDTN_CST_EFFRT_ORDR_NBR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)CST INTO dbo.Tab3
FROM	 '+@Schema+'.CLNT_VULN_INSTC			A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 RMDTN_CST_EFFRT				B
ON		 A.RMDTN_CST_EFFRT_CD		=	B.RMDTN_CST_EFFRT_CD
WHERE	 A.CLNT_ENGMT_CD			=	'''+@CLNT_ENGMT_CD+'''
GROUP BY C.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD

IF OBJECT_ID(''dbo.Tab4'', ''U'') IS NOT NULL 
 DROP TABLE dbo.Tab4;
SELECT	 A.CLNT_ENGMT_CD,C.CLNT_RMDTN_PLN_KEY,COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)VULCOUNT,(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)))SEV1,F.OVERALLMax,
		 (F.OVERALLMax -(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY))))SEV,F.CST INTO Dbo.Tab4
FROM	 '+@Schema+'.CLNT_VULN_INSTC				A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 Tab2									E
ON		 C.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
AND		 D.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
JOIN	 Tab3									F
ON		 C.CLNT_RMDTN_PLN_KEY			=	F.CLNT_RMDTN_PLN_KEY
AND		 E.CLNT_RMDTN_PLN_KEY			=	F.CLNT_RMDTN_PLN_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
GROUP BY C.CLNT_RMDTN_PLN_KEY,E.SEVSUM,F.CST,F.OVERALLMax,A.CLNT_ENGMT_CD'

  EXECUTE(@Query)
 SET @Query1='
SELECT  PlanDuration,Critical,High,Medium,Low FROM(
		SELECT  ''>90''PlanDuration,COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	VULN_SEV				A
		JOIN	dbo.Tab4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.Tab4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_PLN_STS			F
		ON		E.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	(ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)>90) 

		UNION
				SELECT  ''61-90''PlanDuration,COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	VULN_SEV				A
		JOIN	dbo.Tab4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.Tab4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_PLN_STS			F
		ON		E.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	(ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)>60 
		AND		ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)<=90) 
		UNION
				SELECT  ''31-60''PlanDuration,COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	VULN_SEV				A
		JOIN	dbo.Tab4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.Tab4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_PLN_STS			F
		ON		E.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END)>30 
		AND 	DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END)<=60)
		UNION
				SELECT  ''11-30''PlanDuration,COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	VULN_SEV				A
		JOIN	dbo.Tab4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.Tab4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_PLN_STS			F
		ON		E.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	(ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)>10 
		AND		ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)<=30)
		UNION
				SELECT  ''6-10''PlanDuration,COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	VULN_SEV				A
		JOIN	dbo.Tab4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.Tab4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_PLN_STS			F
		ON		E.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	(ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)>5 
		AND		ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)<=10)
		UNION
				SELECT  ''3-5''PlanDuration,COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	VULN_SEV				A
		JOIN	dbo.Tab4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.Tab4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_PLN_STS			F
		ON		E.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	(ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)>2 
		AND		ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)<=5)
		UNION
				SELECT  ''0-2''PlanDuration,COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	VULN_SEV				A
		JOIN	dbo.Tab4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.Tab4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_PLN_STS			F
		ON		E.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	(ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)>=0 
		AND		ISNULL(DATEDIFF(DAY,E.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(E.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  E.RMDTN_PLN_CLOS_DT END),0)<=2)
)Z
 		ORDER BY CASE WHEN PlanDuration=''>90'' THEN 0
		WHEN PlanDuration=''61-90'' THEN 1
		WHEN PlanDuration=''31-60'' THEN 2
		WHEN PlanDuration=''11-30'' THEN 3
		WHEN PlanDuration=''6-10''  THEN 4
		WHEN PlanDuration=''3-5''   THEN 5
		WHEN PlanDuration=''0-2''   THEN 6 END
'
  EXECUTE(@Query1)
-- PRINT(@Query1)

 	--	ORDER BY CASE WHEN PlanDuration=''>90'' THEN 0
		--WHEN PlanDuration=''61-90'' THEN 1
		--WHEN PlanDuration=''31-60'' THEN 2
		--WHEN PlanDuration=''11-30'' THEN 3
		--WHEN PlanDuration=''6-10''  THEN 4
		--WHEN PlanDuration=''3-5''   THEN 5
		--WHEN PlanDuration=''0-2''   THEN 6 END	
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

CREATE PROCEDURE [dbo].[RMDTN_ReportRemediationOwner]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50)	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)

 
 SET		  @Query ='	 
 SELECT   A.RMDTN_OWNR_USER_ID,D.FST_NM+'' ''+D.LST_NM UserName,
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Open'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''I''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Inprogress'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''R''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Risk Registered'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''A''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Risk Accepted'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Closed'',
		  COUNT(DISTINCT A.CLNT_RMDTN_PLN_KEY )''UserCount''
 FROM	  '+ @schema+'.CLNT_RMDTN_PLN			  A
 JOIN	  '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	  B
 ON		  A.CLNT_RMDTN_PLN_KEY					= B.CLNT_RMDTN_PLN_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC			  C
 ON		  B.CLNT_VULN_INSTC_KEY					= C.CLNT_VULN_INSTC_KEY
 JOIN	  USER_PRFL								  D
 ON		  A.RMDTN_OWNR_USER_ID					= D.USER_ID
 JOIN	  RMDTN_PLN_STS							  E
 ON		  A.RMDTN_PLN_STS_CD					= E.RMDTN_PLN_STS_CD
 WHERE    C.CLNT_ENGMT_CD						= '''+@CLNT_ENGMT_CD + '''
 GROUP BY A.RMDTN_OWNR_USER_ID,D.FST_NM,D.LST_NM
'
--PRINT @Query
 EXECUTE (@Query)

 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
CREATE PROCEDURE  [dbo].[RMDTN_ReportRemediationSeveirty]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50)
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)

SET @Query='
IF OBJECT_ID(''dbo.#1'', ''U'') IS NOT NULL 
  DROP TABLE dbo.#1; 

SELECT	 B.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,COUNT(DISTINCT C.CLNT_VULN_INSTC_KEY)FindingCount,
		 SUM(A.VULN_OVALL_SCOR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)SEVAVG INTO dbo.#1
FROM	 '+@Schema+'.CLNT_VULN_INSTC					A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN					B
ON		 A.CLNT_ENGMT_CD					=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM			C
ON		 B.CLNT_RMDTN_PLN_KEY				=	C.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY				=	C.CLNT_VULN_INSTC_KEY
WHERE	 A.CLNT_ENGMT_CD					=	'''+@CLNT_ENGMT_CD+'''
GROUP BY  B.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD
--SELECT * FROM  dbo.#1; 


IF OBJECT_ID(''dbo.#2'', ''U'') IS NOT NULL 
  DROP TABLE dbo.#2; 

SELECT  CLNT_RMDTN_PLN_KEY,SUM(SEVSQRT)SEVSUM  INTO dbo.#2 FROM(
SELECT  B.CLNT_RMDTN_PLN_KEY,
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))*
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))SEVSQRT

FROM	 '+@Schema+'.CLNT_VULN_INSTC				A
JOIN	 dbo.#1								B
ON		 A.CLNT_ENGMT_CD				=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
AND		 C.CLNT_RMDTN_PLN_KEY			=	B.CLNT_RMDTN_PLN_KEY
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
)Z
GROUP BY CLNT_RMDTN_PLN_KEY
--SELECT * FROM dbo.#2


IF OBJECT_ID(''dbo.#3'', ''U'') IS NOT NULL 
 DROP TABLE dbo.#3;

SELECT	 C.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,MAX(VULN_OVALL_SCOR)OVERALLMax,
		 SUM(B.RMDTN_CST_EFFRT_ORDR_NBR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)CST INTO dbo.#3
FROM	 '+@Schema+'.CLNT_VULN_INSTC			A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 RMDTN_CST_EFFRT				B
ON		 A.RMDTN_CST_EFFRT_CD		=	B.RMDTN_CST_EFFRT_CD
WHERE	 A.CLNT_ENGMT_CD			=	'''+@CLNT_ENGMT_CD+'''
GROUP BY C.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD
--SELECT * FROM Dbo.#3

IF OBJECT_ID(''dbo.#4'', ''U'') IS NOT NULL 
 DROP TABLE dbo.#4;
SELECT	 A.CLNT_ENGMT_CD,C.CLNT_RMDTN_PLN_KEY,COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)VULCOUNT,(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)))SEV1,F.OVERALLMax,
		 (F.OVERALLMax -(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY))))SEV,F.CST INTO Dbo.#4
FROM	 '+@Schema+'.CLNT_VULN_INSTC				A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 #2									E
ON		 C.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
AND		 D.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
JOIN	 #3									F
ON		 C.CLNT_RMDTN_PLN_KEY			=	F.CLNT_RMDTN_PLN_KEY
AND		 E.CLNT_RMDTN_PLN_KEY			=	F.CLNT_RMDTN_PLN_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
GROUP BY C.CLNT_RMDTN_PLN_KEY,E.SEVSUM,F.CST,F.OVERALLMax,A.CLNT_ENGMT_CD
--SELECT * from dbo.#4;

		SELECT  F.RMDTN_PLN_STS_NM,COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	VULN_SEV				A
		JOIN	dbo.#4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.#4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_PLN_STS			F
		ON		E.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	F.RMDTN_PLN_STS_CD	IN(''O'',''I'',''C'')
		GROUP BY F.RMDTN_PLN_STS_NM


		'
 EXECUTE(@Query)
--PRINT(@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


-- Patch 2

GO

ALTER PROCEDURE [dbo].[RMDTN_GetRiskRegistrylist]
(
	@CLNT_ENGMT_CD			VARCHAR(30),
	@Userid					INTEGER,
	@schema					VARCHAR(50),
	@UserFlag				VARCHAR(2)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)

	IF	@UserFlag	= 'RO' --Registry Owner
	BEGIN
	SET		@Query = '
	SELECT  A.CLNT_RISK_RGST_KEY,A.ADJ_SEV_CD,A.CLNT_RMDTN_PLN_KEY,B.RMDTN_PLN_NM,A.RISK_RGST_ITM_TOT_CNT,
			A.RISK_RSPN_CD,A.ACPT_DT,A.ACPT_USER_ID,C.VULN_SEV_NM,D.RISK_RSPN_NM,F.FST_NM	,F.LST_NM,A.ACPT_USER_SGN_TXT																																																																																																																																																													
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_SEV								C
	ON		C.VULN_SEV_CD					=		A.ADJ_SEV_CD
    LEFT JOIN    RISK_RSPN								D
    ON      A.RISK_RSPN_CD						=   D.RISK_RSPN_CD
--	JOIN	CLNT_RISK_RGST_ITM						E
--	ON		E.CLNT_RISK_RGST_KEY			=		A.CLNT_RISK_RGST_KEY
	JOIN	USER_PRFL								F
	ON		F.USER_ID						=		A.ENT_USER_ID
	WHERE	B.CLNT_ENGMT_CD					=		'''+CONVERT(VARCHAR,@CLNT_ENGMT_CD)+'''
	AND		A.ACPT_USER_ID					=		'+CONVERT(VARCHAR,@Userid)+'
	AND		ISNULL(A.NTF_DT,'''')	<>		''''
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')='''' THEN A.CREAT_DT ELSE A.UPDT_DT END DESC
 '
--	PRINT    @Query
	EXECUTE (@Query)
	END

	IF	@UserFlag	= 'RA' --Remediation Cordinator or Remediation Analyst Owner
	BEGIN
	SET		@Query = 'SELECT  A.CLNT_RISK_RGST_KEY,A.ADJ_SEV_CD,A.CLNT_RMDTN_PLN_KEY,B.RMDTN_PLN_NM,A.RISK_RGST_ITM_TOT_CNT,
					  A.RISK_RSPN_CD,A.ACPT_DT,A.ACPT_USER_ID,C.VULN_SEV_NM,D.RISK_RSPN_NM,F.FST_NM	,F.LST_NM,A.ACPT_USER_SGN_TXT																																																																																																																																																													
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_SEV								C
	ON		C.VULN_SEV_CD					=		A.ADJ_SEV_CD
    LEFT JOIN    RISK_RSPN								D
    ON      A.RISK_RSPN_CD						=   D.RISK_RSPN_CD
--	JOIN	CLNT_RISK_RGST_ITM						E
--	ON		E.CLNT_RISK_RGST_KEY			=		A.CLNT_RISK_RGST_KEY
	JOIN	USER_PRFL								F
	ON		F.USER_ID						=		'+CONVERT(VARCHAR,@Userid)+'
	WHERE	B.CLNT_ENGMT_CD					=		'''+CONVERT(VARCHAR,@CLNT_ENGMT_CD)+'''
--	AND		A.ENT_USER_ID					=		'+CONVERT(VARCHAR,@Userid)+'
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')=''''  THEN A.CREAT_DT ELSE A.UPDT_DT END DESC
 '
--	PRINT    @Query
	EXECUTE (@Query)
	END

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END




GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRiksRegistryResponse]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50)	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
  SET		  @Query ='	 
  SELECT   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RISK_RGST_KEY)))*100''OPEN'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')<>'''' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RISK_RGST_KEY)))*100''CLOSED'',
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END) Opencount,
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')<>'''' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END) Closecount
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
'
---PRINT @Query
 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END

GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRemediationComplete]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50)	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
  SET		  @Query ='	 
  SELECT   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''OPEN'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''CLOSED'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''I''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''Inprogress'',
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)OpenCount,
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)CloseCount,
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''I'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)InprogressCount
 FROM	  '+ @schema+'.CLNT_RMDTN_PLN		  A
 JOIN	  '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	  B
 ON		  A.CLNT_RMDTN_PLN_KEY				= B.CLNT_RMDTN_PLN_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
'
--PRINT @Query
 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



