ALTER TABLE VULN_INSTC_STS ADD  VULN_MGT_IND CHAR,  RMDTN_IND CHAR, RISK_RGST_IND CHAR

UPDATE VULN_INSTC_STS SET VULN_MGT_IND=1 WHERE VULN_INSTC_STS_CD IN('C','CE','D','FP','O','V')
UPDATE RMDTN_PLN_STS  SET RMDTN_PLN_STS_CD='P' WHERE RMDTN_PLN_STS_NM='InProgress'


GO
ALTER PROCEDURE [dbo].[Report_Remediation]
(
       @CLNT_ENGMT_CD       VARCHAR(100),
       @SECUR_SRVC_CD       VARCHAR(10),
	   @schema				VARCHAR(50)  
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(max)
DECLARE @LiCOUNT INTEGER
	   SET		@Query ='       
       SELECT   CLNT_ENGMT_CD,SECUR_SRVC_CD,COUNT(CLNT_VULN_INSTC_KEY) ''Total'',
                     COUNT(CASE WHEN VULN_SEV_CD=''C'' THEN CLNT_VULN_INSTC_KEY ELSE NULL END)''Critical'',
                     COUNT(CASE WHEN VULN_SEV_CD=''H'' THEN CLNT_VULN_INSTC_KEY ELSE NULL END)''High'',
                     COUNT(CASE WHEN VULN_SEV_CD=''M'' THEN CLNT_VULN_INSTC_KEY ELSE NULL END)''Medium'',
                     COUNT(CASE WHEN VULN_SEV_CD=''L'' THEN CLNT_VULN_INSTC_KEY ELSE NULL END)''Low'',
                     COUNT(CASE WHEN VULN_SEV_CD=''C'' AND (VULN_INSTC_STS_CD=''O'' OR VULN_INSTC_STS_CD=''V'') THEN CLNT_VULN_INSTC_KEY ELSE NULL END) CriticalOpenCount,
                     COUNT(CASE WHEN VULN_SEV_CD=''H'' AND (VULN_INSTC_STS_CD=''O'' OR VULN_INSTC_STS_CD=''V'') THEN CLNT_VULN_INSTC_KEY ELSE NULL END) HighOpenCount,
                     COUNT(CASE WHEN VULN_SEV_CD=''M'' AND (VULN_INSTC_STS_CD=''O'' OR VULN_INSTC_STS_CD=''V'') THEN CLNT_VULN_INSTC_KEY ELSE NULL END) MediumOpenCount,
                     COUNT(CASE WHEN VULN_SEV_CD=''L'' AND (VULN_INSTC_STS_CD=''O'' OR VULN_INSTC_STS_CD=''V'') THEN CLNT_VULN_INSTC_KEY ELSE NULL END) LowOpenCount,
                     dbo.fnGetServiceNameBycode(A.SECUR_SRVC_CD) ServiceName
	   FROM			 '+ @schema+'.CLNT_VULN_INSTC             A
       WHERE		 CLNT_ENGMT_CD                   = '''+@CLNT_ENGMT_CD + '''
       AND           VULN_INSTC_STS_CD  NOT IN(''D'',''FP'')
       AND           VULN_SEV_CD         NOT IN(''I'')
       AND           SECUR_SRVC_CD                    =      CASE WHEN '''+ @SECUR_SRVC_CD +''' = '''' THEN SECUR_SRVC_CD ELSE '''+ @SECUR_SRVC_CD +''' END
       AND           A.ROW_STS_KEY                    =      1
       GROUP BY CLNT_ENGMT_CD,SECUR_SRVC_CD '
	   EXECUTE (@Query)
       END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END

GO
ALTER PROCEDURE [dbo].[RMDTN_GetRmdPlanitmByInstcKey]
(
	@CLNT_VULN_INSTC_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  A.CLNT_RMDTN_PLN_KEY,A.VULN_RMDTN_STS_CD,A.CLOS_DT,A.CLOS_RSN_TXT,C.ADJ_RMDTN_PLN_SEV_CD,D.VULN_SEV_NM
			
	FROM	'+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	A
	JOIN	'+ @schema+'.CLNT_VULN_INSTC			B
	ON		A.CLNT_VULN_INSTC_KEY		=			B.CLNT_VULN_INSTC_KEY
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN  		C
	ON		C.CLNT_RMDTN_PLN_KEY		=			B.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_SEV								D
	ON		C.ADJ_RMDTN_PLN_SEV_CD		=			D.VULN_SEV_CD
	WHERE	CLNT_VULN_INSTC_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_VULN_INSTC_KEY)+'
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO
ALTER PROCEDURE [dbo].[RMDTN_GetPlanInfoByKey]
(
	@CLNT_RMDTN_PLN_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  A.CLNT_RMDTN_PLN_KEY,A.ORG_KEY,A.CLNT_ENGMT_CD,A.RMDTN_OWNR_USER_ID,
					  A.RMDTN_PLN_STS_CD,A.RMDTN_PLN_NM,A.RMDTN_PLN_DESC,A.RMDTN_PLN_CREAT_DT,
					  A.RMDTN_PLN_NTF_DT,A.RMDTN_PLN_STRT_DT,A.RMDTN_PLN_DUE_DT,A.RMDTN_PLN_CLOS_DT,A.ASSOC_VULN_TOT_CNT,
					  A.ASSOC_VULN_CMPL_CNT,A.CREAT_DT,A.CREAT_USER_ID,B.RMDTN_PLN_STS_NM,C.FST_NM UserName,C.DEPT_NM,A.ADJ_RMDTN_PLN_SEV_CD,
					  A.RMDTN_PLN_SEV_CD,D.VULN_SEV_NM Adj,E.VULN_SEV_NM PlnSEV
		
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	RMDTN_PLN_STS							B
	ON		A.RMDTN_PLN_STS_CD				=		B.RMDTN_PLN_STS_CD
	LEFT JOIN  VULN_SEV								D
	ON		A.ADJ_RMDTN_PLN_SEV_CD			=		D.VULN_SEV_CD
	LEFT JOIN  VULN_SEV								E
	ON		A.RMDTN_PLN_SEV_CD  			=		E.VULN_SEV_CD
	LEFT JOIN	USER_PRFL								C
	ON		A.RMDTN_OWNR_USER_ID			=		C.USER_ID
	WHERE	A.CLNT_RMDTN_PLN_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_RMDTN_PLN_KEY)+'
	AND		A.ROW_STS_KEY					=		1
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO
CREATE PROCEDURE [dbo].[RMDTN_UPD_CLNT_RMDTN_PLN_SEV]
(
       @CLNT_RMDTN_PLN_KEY			INTEGER,
       @Flag						VARCHAR(1),    
       @schema						VARCHAR(50),
	   @RMDTN_PLN_SEV_CD			VARCHAR(3),
	   @USER_ID						INTEGER   

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(max)
DECLARE @id INTEGER

       IF @Flag = 'U'
       BEGIN
            
               SET   @Query = 'UPDATE  '+ @schema+'.CLNT_RMDTN_PLN
               SET     

					   RMDTN_PLN_SEV_CD		=	'+ isnull('''' + convert(varchar(3),@RMDTN_PLN_SEV_CD) + '''','null') + ',
					   UPDT_DT				=   '+'GETDATE()'+',
					   UPDT_USER_ID			=	'+ CONVERT(VARCHAR,@USER_ID) +'
               WHERE   CLNT_RMDTN_PLN_KEY   =      '+ CONVERT(VARCHAR,@CLNT_RMDTN_PLN_KEY) +''
              
              
                        EXECUTE (@Query)
               SELECT @@ROWCOUNT AS RETVALS
       END

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO
ALTER PROCEDURE [dbo].[RMDTN_INS_CLNT_RMDTN_PLN]
(
       @CLNT_RMDTN_PLN_KEY			INTEGER,
	   @ROW_STS_KEY					INTEGER,
	   @ORG_KEY						INTEGER,	
	   @CLNT_ENGMT_CD				VARCHAR(30),				
       @RMDTN_OWNR_USER_ID			INTEGER,
	   @RMDTN_PLN_STS_CD            VARCHAR(1),
	   @RMDTN_PLN_NM				VARCHAR(150),
	   @RMDTN_PLN_DESC				TEXT,
	   @RMDTN_PLN_CREAT_DT			DATETIME,
	   @RMDTN_PLN_NTF_DT			DATETIME,
	   @RMDTN_PLN_STRT_DT			DATETIME,
	   @RMDTN_PLN_DUE_DT			DATETIME,
	   @RMDTN_PLN_CLOS_DT			DATETIME,
	   @ASSOC_VULN_TOT_CNT			INTEGER,
	   @ASSOC_VULN_CMPL_CNT 		INTEGER,
       @USER_ID						INTEGER,
       @Flag						VARCHAR(1),    
       @schema						VARCHAR(50),
	   @ADJ_RMDTN_PLN_SEV_CD		VARCHAR(3) 

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(max)
DECLARE @id INTEGER

       IF @Flag = 'D'
       BEGIN
              
        SET   @Query = 'DELETE FROM '+ @schema+'.CLNT_RMDTN_PLN
                       WHERE CLNT_RMTN_PLN_KEY  =' +CONVERT(VARCHAR,@CLNT_RMDTN_PLN_KEY) +''

              EXECUTE (@Query)
              SELECT @@ROWCOUNT AS RETVALS
                     
       END

       IF @Flag = 'I'
       BEGIN
  
		SET          @Query = 'INSERT '+ @schema+'.CLNT_RMDTN_PLN (ROW_STS_KEY,ORG_KEY, CLNT_ENGMT_CD,RMDTN_OWNR_USER_ID, 
					RMDTN_PLN_STS_CD,RMDTN_PLN_NM,RMDTN_PLN_DESC,RMDTN_PLN_CREAT_DT,RMDTN_PLN_NTF_DT,RMDTN_PLN_STRT_DT,
					RMDTN_PLN_DUE_DT,RMDTN_PLN_CLOS_DT,ASSOC_VULN_TOT_CNT,ASSOC_VULN_CMPL_CNT,CREAT_DT,ADJ_RMDTN_PLN_SEV_CD,CREAT_USER_ID) VALUES

		('+CONVERT(VARCHAR, @ROW_STS_KEY)+',
		'+CONVERT(VARCHAR,@ORG_KEY)+',
		'''+CONVERT(VARCHAR,@CLNT_ENGMT_CD)+''',
		 '+ isnull('''' + convert(varchar(10),@RMDTN_OWNR_USER_ID) + '''','null') + ',
		 '+ isnull('''' + convert(varchar(1),@RMDTN_PLN_STS_CD) + '''','null') + ',
		  '+ isnull('''' + convert(varchar(150),@RMDTN_PLN_NM) + '''','null') + ',
		  '+ isnull('''' + replace(convert(varchar(max),@RMDTN_PLN_DESC),'''','''''') + '''','null') + ',
		  '+ isnull('''' + convert(varchar(50),@RMDTN_PLN_CREAT_DT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar(50),@RMDTN_PLN_NTF_DT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar(50),@RMDTN_PLN_STRT_DT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar(50),@RMDTN_PLN_DUE_DT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar(50),@RMDTN_PLN_CLOS_DT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar,@ASSOC_VULN_TOT_CNT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar,@ASSOC_VULN_CMPL_CNT) + '''','null') + ',
		  '+'GETDATE()'+',
		  '+ isnull('''' + convert(varchar(3),@ADJ_RMDTN_PLN_SEV_CD) + '''','null') + ',
		  '+CONVERT(VARCHAR,@USER_ID)+') ; SELECT @@IDENTITY' 

		 -- PRINT @Query
		--  PRINT @id
		--  EXECUTE sp_executesql @Query, N'@Id INTEGER OUTPUT', @NewId OUTPUT
		--   SELECT @Result = @id
		  DECLARE @Result AS Table (RetValue int)
		  INSERT INTO @Result EXECUTE (@Query)
		  SELECT RetValue FROM @Result
		--  SELECT @id AS RETVAL
                       
       END
	   
       IF @Flag = 'U'
       BEGIN
            
               SET   @Query = 'UPDATE  '+ @schema+'.CLNT_RMDTN_PLN
               SET     RMDTN_OWNR_USER_ID	=   '+ isnull('''' + convert(varchar(10),@RMDTN_OWNR_USER_ID) + '''','null') + ',   
					   RMDTN_PLN_NM			=	'+ isnull('''' + convert(varchar(150),@RMDTN_PLN_NM) + '''','null') + ',
					   ADJ_RMDTN_PLN_SEV_CD	=	'+ isnull('''' + convert(varchar(3),@ADJ_RMDTN_PLN_SEV_CD) + '''','null') + ',
					   RMDTN_PLN_DESC		=	'+ isnull('''' + replace(convert(varchar(max),@RMDTN_PLN_DESC),'''','''''') + '''','null') + ',
					   RMDTN_PLN_STRT_DT	=	'+ isnull('''' + convert(varchar(50),@RMDTN_PLN_STRT_DT) + '''','null') + ',
					   RMDTN_PLN_DUE_DT		=	'+ isnull('''' + convert(varchar(50),@RMDTN_PLN_DUE_DT) + '''','null') + ',
					   ASSOC_VULN_TOT_CNT	=	'+ isnull('''' + convert(varchar,@ASSOC_VULN_TOT_CNT) + '''','null') + ',
					   UPDT_DT				=   '+'GETDATE()'+',
					   UPDT_USER_ID			=	'+ CONVERT(VARCHAR,@USER_ID) +'
               WHERE   CLNT_RMDTN_PLN_KEY   =      '+ CONVERT(VARCHAR,@CLNT_RMDTN_PLN_KEY) +''
              
              
                        EXECUTE (@Query)
               SELECT @@ROWCOUNT AS RETVALS
       END

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END




GO
CREATE PROCEDURE  [dbo].[RMDTN_GetPlanSeverity]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50),
	@CLNT_RMDTN_PLN_KEY  INTEGER
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)

SET @Query='
IF OBJECT_ID(''dbo.#1'', ''U'') IS NOT NULL 
  DROP TABLE dbo.#1; 

SELECT	 B.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,COUNT(DISTINCT C.CLNT_VULN_INSTC_KEY)FindingCount,
		 SUM(A.VULN_OVALL_SCOR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)SEVAVG INTO dbo.#1
FROM	 '+@Schema+'.CLNT_VULN_INSTC					A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN					B
ON		 A.CLNT_ENGMT_CD					=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM			C
ON		 B.CLNT_RMDTN_PLN_KEY				=	C.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY				=	C.CLNT_VULN_INSTC_KEY
WHERE	 A.CLNT_ENGMT_CD					=	'''+@CLNT_ENGMT_CD+'''
GROUP BY  B.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD
--SELECT * FROM  dbo.#1; 


IF OBJECT_ID(''dbo.#2'', ''U'') IS NOT NULL 
  DROP TABLE dbo.#2; 

SELECT  CLNT_RMDTN_PLN_KEY,SUM(SEVSQRT)SEVSUM  INTO dbo.#2 FROM(
SELECT  B.CLNT_RMDTN_PLN_KEY,
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))*
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))SEVSQRT

FROM	 '+@Schema+'.CLNT_VULN_INSTC				A
JOIN	 dbo.#1								B
ON		 A.CLNT_ENGMT_CD				=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
AND		 C.CLNT_RMDTN_PLN_KEY			=	B.CLNT_RMDTN_PLN_KEY
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
)Z
GROUP BY CLNT_RMDTN_PLN_KEY
--SELECT * FROM dbo.#2


IF OBJECT_ID(''dbo.#3'', ''U'') IS NOT NULL 
 DROP TABLE dbo.#3;

SELECT	 C.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,MAX(VULN_OVALL_SCOR)OVERALLMax,
		 SUM(B.RMDTN_CST_EFFRT_ORDR_NBR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)CST INTO dbo.#3
FROM	 '+@Schema+'.CLNT_VULN_INSTC			A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 RMDTN_CST_EFFRT				B
ON		 A.RMDTN_CST_EFFRT_CD		=	B.RMDTN_CST_EFFRT_CD
WHERE	 A.CLNT_ENGMT_CD			=	'''+@CLNT_ENGMT_CD+'''
GROUP BY C.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD
--SELECT * FROM Dbo.#3

IF OBJECT_ID(''dbo.#4'', ''U'') IS NOT NULL 
 DROP TABLE dbo.#4;
SELECT	 A.CLNT_ENGMT_CD,C.CLNT_RMDTN_PLN_KEY,COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)VULCOUNT,(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)))SEV1,F.OVERALLMax,
		 (F.OVERALLMax -(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY))))SEV,F.CST INTO Dbo.#4
FROM	 '+@Schema+'.CLNT_VULN_INSTC				A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN				C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_VULN_RMDTN_PLN_ITM		D
ON		 C.CLNT_RMDTN_PLN_KEY			=	D.CLNT_RMDTN_PLN_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 #2									E
ON		 C.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
AND		 D.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
JOIN	 #3									F
ON		 C.CLNT_RMDTN_PLN_KEY			=	F.CLNT_RMDTN_PLN_KEY
AND		 E.CLNT_RMDTN_PLN_KEY			=	F.CLNT_RMDTN_PLN_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
GROUP BY C.CLNT_RMDTN_PLN_KEY,E.SEVSUM,F.CST,F.OVERALLMax,A.CLNT_ENGMT_CD
--SELECT * from dbo.#4;


		SELECT  COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low,
				COUNT(B.CLNT_RMDTN_PLN_KEY)ActionPlan,SUM(E.ASSOC_VULN_TOT_CNT) Instances

		FROM	VULN_SEV				A
		JOIN	dbo.#4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.#4					C
		ON		B.CLNT_RMDTN_PLN_KEY=	C.CLNT_RMDTN_PLN_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RMDTN_PLN		E
		ON		E.CLNT_RMDTN_PLN_KEY=	B.CLNT_RMDTN_PLN_KEY
		AND		B.CLNT_RMDTN_PLN_KEY=	'+@CLNT_RMDTN_PLN_KEY
		
EXECUTE(@Query)
--PRINT(@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

ALTER PROCEDURE [dbo].[RMDTN_INS_CLNT_VULN_RMDTN_PLN_ITM]
(
       @CLNT_VULN_INSTC_KEY			INTEGER,
	   @CLNT_RMDTN_PLN_KEY			INTEGER,
	   @VULN_RMDTN_STS_CD           VARCHAR(1),			
	   @CLOS_DT						DATETIME,
	   @ROW_STS_KEY					INTEGER,
	   @USER_ID						INTEGER,
       @Flag						VARCHAR(1),    
       @schema						VARCHAR(50)       

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(max)
DECLARE @Query1 VARCHAR(max)
DECLARE @id INTEGER

       IF @Flag = 'D'
       BEGIN
              
        SET   @Query = 'DELETE FROM '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM
                       WHERE CLNT_VULN_INSTC_KEY  =   '+ CONVERT(VARCHAR,@CLNT_VULN_INSTC_KEY) +''

              EXECUTE (@Query)
			     SELECT @@ROWCOUNT AS RETVALS

			          SET  @Query1 = 'DELETE FROM '+ @schema+'.CLNT_RISK_RGST_ITM
                       WHERE CLNT_VULN_INSTC_KEY =	'+CONVERT(VARCHAR,@CLNT_VULN_INSTC_KEY) +''

				 
              EXECUTE (@Query1)
			  	
            --  SELECT @@ROWCOUNT AS RETVALS

                     
       END

       IF @Flag = 'I'
       BEGIN
  
		SET          @Query =	'INSERT '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM (CLNT_VULN_INSTC_KEY,CLNT_RMDTN_PLN_KEY,VULN_RMDTN_STS_CD,
								CLOS_DT,ROW_STS_KEY,CREAT_DT,CREAT_USER_ID) VALUES

		('+CONVERT(VARCHAR,@CLNT_VULN_INSTC_KEY)+',
		'+CONVERT(VARCHAR,@CLNT_RMDTN_PLN_KEY)+',
		'+ isnull('''' + convert(varchar(1),@VULN_RMDTN_STS_CD) + '''','null') + ',
		'+ isnull('''' + convert(varchar(50),@CLOS_DT) + '''','null') + ',
		'+CONVERT(VARCHAR, @ROW_STS_KEY)+',
		'+'GETDATE()'+',
		 '+CONVERT(VARCHAR,@USER_ID)+') ; ' 

 EXECUTE (@Query)
SELECT @@ROWCOUNT AS RETVALS
		 -- PRINT @Query
		--  PRINT @id
		--  EXECUTE sp_executesql @Query, N'@Id INTEGER OUTPUT', @NewId OUTPUT
		--   SELECT @Result = @id
		  --DECLARE @Result AS Table (RetValue int)
		  --INSERT INTO @Result EXECUTE (@Query)
		  --SELECT RetValue FROM @Result
		--  SELECT @id AS RETVAL
                       
       END
	   
       IF @Flag = 'U'
       BEGIN
            
               SET   @Query = 'UPDATE  '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM
               SET     CLNT_RMDTN_PLN_KEY	=   '+CONVERT(VARCHAR,@CLNT_RMDTN_PLN_KEY)+',
                       VULN_RMDTN_STS_CD	=   '+ isnull('''' + convert(varchar(1),@VULN_RMDTN_STS_CD) + '''','null') + ',  
					   CLOS_DT				=	'+ isnull('''' + convert(varchar(50),@CLOS_DT) + '''','null') + ',
					   ROW_STS_KEY			=	'+ CONVERT(VARCHAR,@ROW_STS_KEY) +',
                       UPDT_DT				=   '+'GETDATE()'+'
					   UPDT_USER_ID			=	'+ CONVERT(VARCHAR,@USER_ID) +'
               WHERE   CLNT_VULN_INSTC_KEY  =   '+ CONVERT(VARCHAR,@CLNT_VULN_INSTC_KEY) +''
              
              
                        EXECUTE (@Query)
               SELECT @@ROWCOUNT AS RETVALS
       END

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END






GO
CREATE PROCEDURE [dbo].[CreateSchemaTables]
(
@SchemaName VARCHAR(50),
@ORG_KEY     INTEGER
)
AS
BEGIN
BEGIN TRY
SET NOCOUNT ON

DECLARE @Query1 VARCHAR(max)
DECLARE @Query2 VARCHAR(max)
DECLARE @Query3 VARCHAR(max)
DECLARE @Query4 VARCHAR(max)
DECLARE @Query5 VARCHAR(max)
DECLARE @Query6 VARCHAR(max)
DECLARE @Query7 VARCHAR(max)
DECLARE @Query8 VARCHAR(max)

SET @Query1= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_INSTC'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC 
(
    CLNT_VULN_INSTC_KEY  integer  NOT NULL  IDENTITY ,
	ROW_STS_KEY          integer  NOT NULL ,
	ORG_KEY              integer  NOT NULL ,
	CLNT_ENGMT_CD        varchar(30)  NOT NULL ,
	SECUR_SRVC_CD        varchar(10)  NOT NULL ,
	VULN_SRC_KEY         integer  NOT NULL ,
	VULN_INSTC_STS_CD    varchar(3)  NOT NULL ,
	VULN_SEV_CD          varchar(3)  NULL ,
	VULN_IMP_CD          varchar(3)  NULL ,
	RISK_PRBL_CD         varchar(3)  NULL ,
	RMDTN_CST_EFFRT_CD   varchar(3)  NULL ,
	VULN_CATGY_CD        varchar(10)  NULL ,
	OWASP_TOP_10_KEY     int  NULL ,
	CVE_ID               varchar(25)  NULL ,
	OS_KEY               integer  NULL ,
	SCAN_TL_KEY          integer  NULL ,
	SRC_VULN_SCAN_ID     varchar(150)  NULL ,
	SRC_VULN_SCAN_STRT_DT datetime  NULL ,
	SRC_VULN_SCAN_END_DT datetime  NULL ,
	SRC_VULN_INSTC_ID    varchar(150)  NULL ,
	SRC_VULN_ID          varchar(150)  NULL ,
	VULN_NM              varchar(255)  NOT NULL ,
	VULN_DESC            text  NULL ,
	VULN_CREAT_DT        datetime  NOT NULL ,
	VULN_VLD_DT          datetime  NULL ,
	VULN_CLOS_DT         datetime  NULL ,
	CLOS_RSN_TXT         text  NULL ,
	IPADR                varchar(39)  NULL ,
	PORT_NBR             integer  NULL ,
	SRC_VULN_SEV_NM      varchar(150)  NULL ,
	SRC_BAS_SCOR         decimal(10,2)  NULL ,
	SRC_TMPRL_SCOR       decimal(10,2)  NULL ,
	SRC_VCTR_TXT         varchar(100)  NULL ,
	SRC_RISK_SCOR        int  NULL ,
	SRC_ADVS_TXT         varchar(1024)  NULL ,
	VULN_BAS_SCOR        decimal(10,2)  NULL ,
	VULN_IMP_SUB_SCOR    decimal(10,2)  NULL ,
	VULN_EXPLT_SUB_SCOR  decimal(10,2)  NULL ,
	VULN_TMPRL_SCOR      decimal(10,2)  NULL ,
	VULN_ENV_SCOR        decimal(10,2)  NULL ,
	VULN_OVALL_SCOR      decimal(10,2)  NULL ,
	VULN_VCTR_TXT        varchar(100)  NULL ,
	NTWK_NM              varchar(150)  NULL ,
	PRTCL_NM             varchar(255)  NULL ,
	HST_NM               varchar(150)  NULL ,
	DOM_NM               varchar(150)  NULL ,
	SFTW_NM              varchar(150)  NULL ,
	APPL_URL             nvarchar(2000)  NULL ,
	NETBIOS_NM           varchar(150)  NULL ,
	MAC_ADR_NM           varchar(150)  NULL ,
	VULN_TECH_COMMT_TXT  text  NULL ,
	VULN_IMP_COMMT_TXT   text  NULL ,
	RECOM_COMMT_TXT      text  NULL ,
	ROOT_CAUS_COMMT_TXT  text  NULL ,
	APPL_FL_UPLOAD_LOG_KEY integer  NULL ,
	CREAT_DT             datetime  NOT NULL ,
	CREAT_USER_ID        integer  NOT NULL ,
	UPDT_DT              datetime  NULL ,
	UPDT_USER_ID         integer  NULL ,
CONSTRAINT [PK_CLNT_VULN_INSTC] PRIMARY KEY CLUSTERED 
(
       [CLNT_VULN_INSTC_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY] 

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([APPL_FL_UPLOAD_LOG_KEY])
REFERENCES [dbo].[APPL_FL_UPLOAD_LOG] ([APPL_FL_UPLOAD_LOG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([CVE_ID])
REFERENCES [dbo].[CVE] ([CVE_ID])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([ORG_KEY])
REFERENCES [dbo].[ORG] ([ORG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([OS_KEY])
REFERENCES [dbo].[OS] ([OS_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([RISK_PRBL_CD])
REFERENCES [dbo].[RISK_PRBL] ([RISK_PRBL_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([RMDTN_CST_EFFRT_CD])
REFERENCES [dbo].[RMDTN_CST_EFFRT] ([RMDTN_CST_EFFRT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_CATGY_CD])
REFERENCES [dbo].[VULN_CATGY] ([VULN_CATGY_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_IMP_CD])
REFERENCES [dbo].[VULN_IMP] ([VULN_IMP_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_INSTC_STS_CD])
REFERENCES [dbo].[VULN_INSTC_STS] ([VULN_INSTC_STS_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_SEV_CD])
REFERENCES [dbo].[VULN_SEV] ([VULN_SEV_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([VULN_SRC_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_INSTC]  WITH CHECK ADD FOREIGN KEY([CLNT_ENGMT_CD], [SECUR_SRVC_CD])
REFERENCES [dbo].[CLNT_SECUR_SRVC_ENGMT] ([CLNT_ENGMT_CD], [SECUR_SRVC_CD])  
END
ELSE
BEGIN
SELECT -1 Retval
END 
'


--  PRINT  (@query1)
EXECUTE (@Query1)

SET @Query2= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_SECUR_CTL'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL](
       [CLNT_VULN_INSTC_KEY] [int] NOT NULL,
       [REG_CMPLN_CD] [varchar](20) NOT NULL,
       [REG_CMPLN_VER] [varchar](20) NOT NULL,
       [SECUR_CTL_CD] [varchar](20) NOT NULL,
       [ROW_STS_KEY] [int] NOT NULL,
       [CREAT_DT] [datetime] NULL,
       [CREAT_USER_ID] [int] NULL,
       [UPDT_DT] [datetime] NULL,
       [UPDT_USER_ID] [int] NULL,
CONSTRAINT [PK_CLNT_VULN_SECUR_CTL] PRIMARY KEY CLUSTERED 
(
       [CLNT_VULN_INSTC_KEY] ASC,
       [REG_CMPLN_CD] ASC,
       [REG_CMPLN_VER] ASC,
       [SECUR_CTL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([CLNT_VULN_INSTC_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_VULN_INSTC] ([CLNT_VULN_INSTC_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([REG_CMPLN_CD], [REG_CMPLN_VER], [SECUR_CTL_CD])
REFERENCES [dbo].[SECUR_CTL] ([REG_CMPLN_CD], [REG_CMPLN_VER], [SECUR_CTL_CD]) 
SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query2)

SET @Query3= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_ROADMAP_FACT'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT](
       [CLNT_ROADMAP_KEY] [int] NOT NULL,
       [ROW_STS_KEY] [int] NULL,
       [ORG_KEY] [int] NULL,
       [CLNT_ENGMT_CD] [varchar](30) NULL,
       [CSA_DOM_CD] [varchar](10) NOT NULL,
       [VULN_CATGY_CD] [varchar](10) NOT NULL,
       [VULN_SEV_CD] [varchar](3) NOT NULL,
       [RMDTN_CST_EFFRT_CD] [varchar](3) NOT NULL,
       [ROADMAP_TMLN_CD] [char](1) NOT NULL,
       [ROADMAP_EFF_DT] [datetime] NULL,
       [ROADMAP_PUBL_DT] [datetime] NULL,
       [VULN_CNT] [int] NULL,
       [ROADMAP_COMMT] [varchar](5000) NULL,
       [CREAT_DT] [datetime] NOT NULL,
       [CREAT_USER_ID] [int] NOT NULL,
       [UPDT_DT] [datetime] NULL,
       [UPDT_USER_ID] [int] NULL,
CONSTRAINT [PK_CLNT_ROADMAP_FACT] PRIMARY KEY CLUSTERED 
(
       [CLNT_ROADMAP_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_ENGMT_126] FOREIGN KEY([CLNT_ENGMT_CD])
REFERENCES [dbo].[CLNT_ENGMT] ([CLNT_ENGMT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_CLNT_ENGMT_126]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_CSA_REF_ARCH_DOM_141] FOREIGN KEY([CSA_DOM_CD])
REFERENCES [dbo].[CSA_REF_ARCH_DOM] ([CSA_DOM_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_CSA_REF_ARCH_DOM_141]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_131] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_MSTR_LKP_131]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_ORG_125] FOREIGN KEY([ORG_KEY])
REFERENCES [dbo].[ORG] ([ORG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_ORG_125]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_RMDTN_CST_EFFRT_128] FOREIGN KEY([RMDTN_CST_EFFRT_CD])
REFERENCES [dbo].[RMDTN_CST_EFFRT] ([RMDTN_CST_EFFRT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_RMDTN_CST_EFFRT_128]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_ROADMAP_TMLN_130] FOREIGN KEY([ROADMAP_TMLN_CD])
REFERENCES [dbo].[ROADMAP_TMLN] ([ROADMAP_TMLN_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_ROADMAP_TMLN_130]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_VULN_CATGY_129] FOREIGN KEY([VULN_CATGY_CD])
REFERENCES [dbo].[VULN_CATGY] ([VULN_CATGY_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_VULN_CATGY_129]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_VULN_SEV_127] FOREIGN KEY([VULN_SEV_CD])
REFERENCES [dbo].[VULN_SEV] ([VULN_SEV_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_VULN_SEV_127]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query3)

SET @Query4= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RMDTN_PLN'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN](
	[CLNT_RMDTN_PLN_KEY] [int] IDENTITY(1,1) NOT NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[ORG_KEY] [int] NOT NULL,
	[CLNT_ENGMT_CD] [varchar](30) NOT NULL,
	[RMDTN_OWNR_USER_ID] [int]  NULL,
	[RMDTN_PLN_STS_CD] [char](1) NOT NULL,
	[ADJ_RMDTN_PLN_SEV_CD] varchar(3)  NULL ,
	[RMDTN_PLN_SEV_CD]     varchar(3)  NULL ,
	[RMDTN_PLN_NM] [varchar](150) NOT NULL,
	[RMDTN_PLN_DESC] [text] NULL,
	[RMDTN_PLN_CREAT_DT] [datetime] NOT NULL,
	[RMDTN_PLN_NTF_DT] [datetime] NULL,
	[RMDTN_PLN_STRT_DT] [datetime] NULL,
	[RMDTN_PLN_DUE_DT] [datetime] NULL,
	[RMDTN_PLN_CLOS_DT] [datetime] NULL,
	[ASSOC_VULN_TOT_CNT] [int] NOT NULL,
	[ASSOC_VULN_CMPL_CNT] [int] NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RMDTN_PLN] PRIMARY KEY CLUSTERED 
(
	[CLNT_RMDTN_PLN_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_ENGMT_142] FOREIGN KEY([CLNT_ENGMT_CD])
REFERENCES [dbo].[CLNT_ENGMT] ([CLNT_ENGMT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_CLNT_ENGMT_142]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_150] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_MSTR_LKP_150]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_ORG_143] FOREIGN KEY([ORG_KEY])
REFERENCES [dbo].[ORG] ([ORG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_ORG_143]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_RMDTN_PLN_STS_159] FOREIGN KEY([RMDTN_PLN_STS_CD])
REFERENCES [dbo].[RMDTN_PLN_STS] ([RMDTN_PLN_STS_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_RMDTN_PLN_STS_159]


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_156] FOREIGN KEY([RMDTN_OWNR_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_USER_PRFL_156]
go

CREATE NONCLUSTERED INDEX IF7_CLNT_RMDTN_PLN ON '+ @SchemaName+ '.CLNT_RMDTN_PLN
( 
	RMDTN_PLN_SEV_CD      ASC
)
go

CREATE NONCLUSTERED INDEX IF8_CLNT_RMDTN_PLN ON '+ @SchemaName+ '.CLNT_RMDTN_PLN
( 
	ADJ_RMDTN_PLN_SEV_CD  ASC
)
go
ALTER TABLE '+ @SchemaName+ '.CLNT_RMDTN_PLN	ADD CONSTRAINT FK_RMDTN_PLN_STS_159 FOREIGN KEY (RMDTN_PLN_STS_CD) REFERENCES RMDTN_PLN_STS(RMDTN_PLN_STS_CD)
go

ALTER TABLE '+ @SchemaName+ '.CLNT_RMDTN_PLN	ADD CONSTRAINT FK_VULN_SEV_182 FOREIGN KEY (RMDTN_PLN_SEV_CD) REFERENCES VULN_SEV(VULN_SEV_CD)

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query4)

SET @Query5= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_RMDTN_PLN_ITM'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM](
	[CLNT_VULN_INSTC_KEY] [int] NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NOT NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_VULN_RMDTN_PLN_ITM] PRIMARY KEY CLUSTERED 
(
	[CLNT_VULN_INSTC_KEY] ASC,
	[CLNT_RMDTN_PLN_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_149] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_149]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_VULN_INSTC_148] FOREIGN KEY([CLNT_VULN_INSTC_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_VULN_INSTC] ([CLNT_VULN_INSTC_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_CLNT_VULN_INSTC_148]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_160] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_MSTR_LKP_160]



SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query5)


SET @Query6= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RMDTN_PLN_COMMT'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT](
	[CLNT_RMDTN_PLN_COMMT_KEY] [int] IDENTITY(1,1) NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NOT NULL,
	[ENT_DT] [datetime] NOT NULL,
	[COMMT_TXT] [text] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RMDTN_PLN_COMMT] PRIMARY KEY CLUSTERED 
(
	[CLNT_RMDTN_PLN_COMMT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_147] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_147]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query6)

SET @Query7= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RISK_RGST'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST](
	[CLNT_RISK_RGST_KEY] [int] IDENTITY(1,1) NOT NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NULL,
	[ADJ_SEV_CD] [varchar](3) NOT NULL,
	[ENT_USER_ID] [int] NOT NULL,
	[ENT_DT] [datetime] NOT NULL,
	[COMP_CTL_TXT] [text] NOT NULL,
	[NTF_DT] [datetime] NULL,
	[ACPT_USER_ID] [int] NULL,
	[ACPT_DT] [datetime] NULL,
	[ACPT_USER_SGN_TXT] [varchar](150) NULL,
	[RISK_RSPN_CD] [char](1) NULL,
	[RISK_JSTFY_TXT] [text] NULL,
	[RISK_RGST_ITM_TOT_CNT] [int] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RISK_RGST] PRIMARY KEY CLUSTERED 
(
	[CLNT_RISK_RGST_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_172] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_172]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_167] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_MSTR_LKP_167]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_RISK_RSPN_168] FOREIGN KEY([RISK_RSPN_CD])
REFERENCES [dbo].[RISK_RSPN] ([RISK_RSPN_CD])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_RISK_RSPN_168]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_157] FOREIGN KEY([ACPT_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])
ALTER TABLE [dbo].[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_USER_PRFL_157]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_158] FOREIGN KEY([ENT_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])
ALTER TABLE [dbo].[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_USER_PRFL_158]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_VULN_SEV_169] FOREIGN KEY([ADJ_SEV_CD])
REFERENCES [dbo].[VULN_SEV] ([VULN_SEV_CD])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_VULN_SEV_169]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query7)

SET @Query8= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RISK_RGST'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM](
	[CLNT_RISK_RGST_KEY] [int] NOT NULL,
	[CLNT_VULN_INSTC_KEY] [int] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RISK_RGST_ITM] PRIMARY KEY CLUSTERED 
(
	[CLNT_RISK_RGST_KEY] ASC,
	[CLNT_VULN_INSTC_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RISK_RGST_166] FOREIGN KEY([CLNT_RISK_RGST_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RISK_RGST] ([CLNT_RISK_RGST_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM] CHECK CONSTRAINT [FK_CLNT_RISK_RGST_166]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_VULN_INSTC_173] FOREIGN KEY([CLNT_VULN_INSTC_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_VULN_INSTC] ([CLNT_VULN_INSTC_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM] CHECK CONSTRAINT [FK_CLNT_VULN_INSTC_173]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query8)

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END;

