
GO

ALTER PROCEDURE [dbo].[Analyst_ListStatus]
(
	@Flag	VARCHAR(1)
)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON

IF @Flag = 'A' -- ALL
BEGIN
			SELECT  VULN_INSTC_STS_CD,VULN_INSTC_STS_NM
			FROM	VULN_INSTC_STS	
END
	
IF @Flag = 'V' -- Vulnerability
BEGIN
			SELECT  VULN_INSTC_STS_CD,VULN_INSTC_STS_NM
			FROM	VULN_INSTC_STS	
			WHERE   VULN_MGT_IND=1
END

IF @Flag = 'R' -- Remediation
BEGIN
			SELECT  VULN_INSTC_STS_CD,VULN_INSTC_STS_NM
			FROM	VULN_INSTC_STS	
			WHERE   RMDTN_IND=1
END

IF @Flag = 'K' -- Risk Registry
BEGIN
			SELECT  VULN_INSTC_STS_CD,VULN_INSTC_STS_NM
			FROM	VULN_INSTC_STS	
			WHERE   RISK_RGST_IND=1
END
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE [dbo].[RMDTN_GetRegistKyeByPlanKey]
(
	@CLNT_RMDTN_PLN_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  B.CLNT_RISK_RGST_KEY
			
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	'+ @schema+'.CLNT_RISK_RGST				B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	AND		ISNULL(B.RISK_RSPN_CD,'''')		=		''''
	WHERE	A.CLNT_RMDTN_PLN_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_RMDTN_PLN_KEY)+'
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END

GO
ALTER PROCEDURE [dbo].[Analyst_UpdateVulnerabilityStatus]
(
       @Flag                      VARCHAR(1),
       @CLNT_VULN_INSTC_KEY		  INTEGER,
       @VULN_INSTC_STS_CD         VARCHAR(3),
	   @USER_ID					  INTEGER,
	   @VULN_CLOS_DT			  DATETIME,
	   @CLOS_RSN_TXT			  TEXT,
       @schema                    VARCHAR(50)   

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(max)
       
              IF @Flag      =      'U' -- Vulnerability Status Update
                       
              BEGIN

              SET           @Query = 'UPDATE     '+ @schema+'.CLNT_VULN_INSTC
              
              SET           VULN_INSTC_STS_CD			=      ''' +CONVERT(VARCHAR,@VULN_INSTC_STS_CD)+''' ,
                            UPDT_DT                     =      '+' GETDATE() '+',
                            UPDT_USER_ID				=      '+convert(varchar(50),@USER_ID)+ '
                      --    VULN_CLOS_DT				=      '+ isnull('''' + convert(varchar(50),@VULN_CLOS_DT) + '''','null') + ',
					--      CLOS_RSN_TXT				=      '+ isnull('''' + replace(convert(varchar(max),@CLOS_RSN_TXT),'''','''''') + '''','null') + '
							WHERE  CLNT_VULN_INSTC_KEY  =      '+ CONVERT(VARCHAR,@CLNT_VULN_INSTC_KEY) +''

                           EXECUTE (@Query)
                           SELECT @@ROWCOUNT AS RETVAL

                     END

		      IF @Flag      =      'C' -- Vulnerability Status Update for close
                       
              BEGIN

              SET           @Query = 'UPDATE     '+ @schema+'.CLNT_VULN_INSTC
              
              SET           VULN_INSTC_STS_CD			=      ''' +CONVERT(VARCHAR,@VULN_INSTC_STS_CD)+''' ,
                            UPDT_DT                     =      '+' GETDATE() '+',
                            UPDT_USER_ID				=      '+convert(varchar(50),@USER_ID)+ ',
                            VULN_CLOS_DT				=      '+' GETDATE() '+',
					        CLOS_RSN_TXT				=      '+ isnull('''' + replace(convert(varchar(max),@CLOS_RSN_TXT),'''','''''') + '''','null') + '
							WHERE  CLNT_VULN_INSTC_KEY  =      '+ CONVERT(VARCHAR,@CLNT_VULN_INSTC_KEY) +''

                           EXECUTE (@Query)
                           SELECT @@ROWCOUNT AS RETVAL

                     END

  
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE [dbo].[RMDTN_GetFindingsByPlanKey]
(
	@CLNT_RMDTN_PLN_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  B.CLNT_VULN_INSTC_KEY,A.CLNT_RMDTN_PLN_KEY,B.CLOS_DT,C.IPADR,C.SFTW_NM,C.VULN_SEV_CD,
			C.VULN_NM,D.VULN_SEV_NM,E.VULN_INSTC_STS_CD,E.VULN_INSTC_STS_NM ,C.VULN_NM,F.VULN_CATGY_NM,C.CREAT_DT
			
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	'+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	JOIN	'+ @schema+'.CLNT_VULN_INSTC			C
	ON		B.CLNT_VULN_INSTC_KEY			=		C.CLNT_VULN_INSTC_KEY
	JOIN	VULN_INSTC_STS							E
	ON		C.VULN_INSTC_STS_CD				=		E.VULN_INSTC_STS_CD
	JOIN	VULN_SEV								D
	ON		C.VULN_SEV_CD					=		D.VULN_SEV_CD
	JOIN	VULN_CATGY								F
	ON		C.VULN_CATGY_CD					=		F.VULN_CATGY_CD
	WHERE	A.CLNT_RMDTN_PLN_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_RMDTN_PLN_KEY)+'
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_GetFindingsByRegistKey]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  B.CLNT_VULN_INSTC_KEY,A.CLNT_RMDTN_PLN_KEY,C.IPADR,C.SFTW_NM,C.VULN_SEV_CD,
			B.CREAT_DT,C.VULN_NM,D.VULN_SEV_NM,F.VULN_CATGY_NM,C.VULN_CREAT_DT,C.VULN_CLOS_DT,E.VULN_INSTC_STS_CD,E.VULN_INSTC_STS_NM
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RISK_RGST_ITM			B
	ON		A.CLNT_RISK_RGST_KEY			=		B.CLNT_RISK_RGST_KEY
	JOIN	'+ @schema+'.CLNT_VULN_INSTC			C
	ON		B.CLNT_VULN_INSTC_KEY			=		C.CLNT_VULN_INSTC_KEY
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				G
	ON		A.CLNT_RMDTN_PLN_KEY			=		G.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_INSTC_STS							E
	ON		C.VULN_INSTC_STS_CD				=		E.VULN_INSTC_STS_CD
	JOIN	VULN_SEV								D
	ON		C.VULN_SEV_CD					=		D.VULN_SEV_CD
	JOIN	VULN_CATGY								F
	ON		C.VULN_CATGY_CD					=		F.VULN_CATGY_CD
	WHERE	A.CLNT_RISK_RGST_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_RISK_RGST_KEY)+'
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE [dbo].[RMDTN_GetRmdPlanitmByInstcKey]
(
	@CLNT_VULN_INSTC_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  A.CLNT_RMDTN_PLN_KEY,A.CLOS_DT,A.CLOS_RSN_TXT,C.ADJ_RMDTN_PLN_SEV_CD,D.VULN_SEV_NM,B.VULN_INSTC_STS_CD,E.VULN_INSTC_STS_NM
			
	FROM	'+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	A
	JOIN	'+ @schema+'.CLNT_VULN_INSTC			B
	ON		A.CLNT_VULN_INSTC_KEY		=			B.CLNT_VULN_INSTC_KEY
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN  			C
	ON		C.CLNT_RMDTN_PLN_KEY		=			A.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_INSTC_STS							E
	ON		B.VULN_INSTC_STS_CD				=		E.VULN_INSTC_STS_CD
	JOIN	VULN_SEV								D
	ON		C.ADJ_RMDTN_PLN_SEV_CD		=			D.VULN_SEV_CD
	WHERE	B.CLNT_VULN_INSTC_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_VULN_INSTC_KEY)+'
 '
	-- PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE  [dbo].[RMDTN_ReportRemediation]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50)
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)

SET @Query='

		SELECT  COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low,
				COUNT(B.CLNT_RMDTN_PLN_KEY)ActionPlan,SUM(B.ASSOC_VULN_TOT_CNT) Instances

		FROM	'+@Schema+'.CLNT_RMDTN_PLN						B
		WHERE	 B.CLNT_ENGMT_CD					=	'''+@CLNT_ENGMT_CD+'''
		'
EXECUTE(@Query)
--PRINT(@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO
ALTER PROCEDURE  [dbo].[RMDTN_ReportRemediationSeveirty]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50)
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)

SET @Query='


		SELECT  C.RMDTN_PLN_STS_NM,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	VULN_SEV							F
		ON		B.RMDTN_PLN_SEV_CD	=	F.VULN_SEV_CD
		JOIN	RMDTN_PLN_STS			C
		ON		B.RMDTN_PLN_STS_CD	=	C.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		GROUP BY C.RMDTN_PLN_STS_NM


		'
 EXECUTE(@Query)
--PRINT(@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE  [dbo].[RMDTN_ReportRemediationNotification]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50)
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)
DECLARE @Query1 VARCHAR(MAX)



 SET @Query1='
SELECT  PlanDuration,Critical,High,Medium,Low FROM(

		SELECT  ''>90''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND	(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>90) 

		UNION

		SELECT  ''61-90''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND 	(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>60 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=90) 
		UNION
		SELECT  ''31-60''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND		(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END)>30 
		AND 	DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END)<=60)

		UNION

		SELECT  ''11-30''PlanDuration,COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND		(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>10 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=30)

		UNION

		SELECT  ''6-10''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND 	(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>5 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=10)
		
		UNION

		SELECT   ''3-5''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND		(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>2 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=5)

		UNION

		SELECT  ''0-2''PlanDuration,COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND 	(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>=0 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=2)

)Z
 		ORDER BY CASE WHEN PlanDuration=''>90'' THEN 0
		WHEN PlanDuration=''61-90'' THEN 1
		WHEN PlanDuration=''31-60'' THEN 2
		WHEN PlanDuration=''11-30'' THEN 3
		WHEN PlanDuration=''6-10''  THEN 4
		WHEN PlanDuration=''3-5''   THEN 5
		WHEN PlanDuration=''0-2''   THEN 6 END
'
  EXECUTE(@Query1)
-- PRINT(@Query1)

 	--	ORDER BY CASE WHEN PlanDuration=''>90'' THEN 0
		--WHEN PlanDuration=''61-90'' THEN 1
		--WHEN PlanDuration=''31-60'' THEN 2
		--WHEN PlanDuration=''11-30'' THEN 3
		--WHEN PlanDuration=''6-10''  THEN 4
		--WHEN PlanDuration=''3-5''   THEN 5
		--WHEN PlanDuration=''0-2''   THEN 6 END	
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END





GO
ALTER PROCEDURE [dbo].[CreateSchemaTables]
(
@SchemaName VARCHAR(50),
@ORG_KEY     INTEGER
)
AS
BEGIN
BEGIN TRY
SET NOCOUNT ON

DECLARE @Query1 VARCHAR(max)
DECLARE @Query2 VARCHAR(max)
DECLARE @Query3 VARCHAR(max)
DECLARE @Query4 VARCHAR(max)
DECLARE @Query5 VARCHAR(max)
DECLARE @Query6 VARCHAR(max)
DECLARE @Query7 VARCHAR(max)
DECLARE @Query8 VARCHAR(max)

SET @Query1= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_INSTC'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC 
( 
	CLNT_VULN_INSTC_KEY  integer  NOT NULL  IDENTITY ,
	ROW_STS_KEY          integer  NOT NULL ,
	ORG_KEY              integer  NOT NULL ,
	CLNT_ENGMT_CD        varchar(30)  NOT NULL ,
	SECUR_SRVC_CD        varchar(10)  NOT NULL ,
	VULN_SRC_KEY         integer  NOT NULL ,
	VULN_INSTC_STS_CD    varchar(3)  NOT NULL ,
	VULN_SEV_CD          varchar(3)  NULL ,
	VULN_IMP_CD          varchar(3)  NULL ,
	RISK_PRBL_CD         varchar(3)  NULL ,
	RMDTN_CST_EFFRT_CD   varchar(3)  NULL ,
	VULN_CATGY_CD        varchar(10)  NULL ,
	OWASP_TOP_10_KEY     int  NULL ,
	CVE_ID               varchar(25)  NULL ,
	OS_KEY               integer  NULL ,
	SCAN_TL_KEY          integer  NULL ,
	SRC_VULN_SCAN_ID     varchar(150)  NULL ,
	SRC_VULN_SCAN_STRT_DT datetime  NULL ,
	SRC_VULN_SCAN_END_DT datetime  NULL ,
	SRC_VULN_INSTC_ID    varchar(150)  NULL ,
	SRC_VULN_ID          varchar(150)  NULL ,
	VULN_NM              varchar(255)  NOT NULL ,
	VULN_DESC            text  NULL ,
	VULN_CREAT_DT        datetime  NOT NULL ,
	VULN_VLD_DT          datetime  NULL ,
	VULN_CLOS_DT         datetime  NULL ,
	CLOS_RSN_TXT         text  NULL ,
	SRC_VULN_SEV_NM      varchar(150)  NULL ,
	SRC_BAS_SCOR         decimal(10,2)  NULL ,
	SRC_TMPRL_SCOR       decimal(10,2)  NULL ,
	SRC_VCTR_TXT         varchar(100)  NULL ,
	SRC_ADVS_TXT         varchar(1024)  NULL ,
	VULN_BAS_SCOR        decimal(10,2)  NULL ,
	VULN_IMP_SUB_SCOR    decimal(10,2)  NULL ,
	VULN_EXPLT_SUB_SCOR  decimal(10,2)  NULL ,
	VULN_TMPRL_SCOR      decimal(10,2)  NULL ,
	VULN_ENV_SCOR        decimal(10,2)  NULL ,
	VULN_OVALL_SCOR      decimal(10,2)  NULL ,
	VULN_VCTR_TXT        varchar(100)  NULL ,
	IPADR                varchar(39)  NULL ,
	PORT_NBR             integer  NULL ,
	NTWK_NM              varchar(150)  NULL ,
	PRTCL_NM             varchar(255)  NULL ,
	HST_NM               varchar(150)  NULL ,
	DOM_NM               varchar(150)  NULL ,
	SFTW_NM              varchar(150)  NULL ,
	APPL_URL             nvarchar(2000)  NULL ,
	NETBIOS_NM           varchar(150)  NULL ,
	MAC_ADR_NM           varchar(150)  NULL ,
	VULN_TECH_COMMT_TXT  text  NULL ,
	VULN_IMP_COMMT_TXT   text  NULL ,
	RECOM_COMMT_TXT      text  NULL ,
	ROOT_CAUS_COMMT_TXT  text  NULL ,
	APPL_FL_UPLOAD_LOG_KEY integer  NULL ,
	CREAT_DT             datetime  NOT NULL ,
	CREAT_USER_ID        integer  NOT NULL ,
	UPDT_DT              datetime  NULL ,
	UPDT_USER_ID         integer  NULL 
)

ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT PK_CLNT_VULN_INSTC PRIMARY KEY  CLUSTERED (CLNT_VULN_INSTC_KEY ASC)
CREATE NONCLUSTERED INDEX IF27_CLNT_VULN_INSTC ON '+ @SchemaName+ '.CLNT_VULN_INSTC(VULN_NM  ASC)
CREATE NONCLUSTERED INDEX IF28_CLNT_VULN_INSTC ON '+ @SchemaName+ '.CLNT_VULN_INSTC(SCAN_TL_KEY  ASC)

ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_APPL_FL_UPLOAD_LOG_95 FOREIGN KEY (APPL_FL_UPLOAD_LOG_KEY) REFERENCES APPL_FL_UPLOAD_LOG(APPL_FL_UPLOAD_LOG_KEY)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_OWASP_TOP_10_100 FOREIGN KEY (OWASP_TOP_10_KEY) REFERENCES OWASP_TOP_10(OWASP_TOP_10_KEY)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_VULN_SEV_101 FOREIGN KEY (VULN_SEV_CD) REFERENCES VULN_SEV(VULN_SEV_CD)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_MSTR_LKP_102 FOREIGN KEY (ROW_STS_KEY) REFERENCES MSTR_LKP(MSTR_LKP_KEY)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_MSTR_LKP_103 FOREIGN KEY (VULN_SRC_KEY) REFERENCES MSTR_LKP(MSTR_LKP_KEY)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_ORG_104 FOREIGN KEY (ORG_KEY) REFERENCES ORG(ORG_KEY)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_CLNT_SECUR_SRVC_ENGMT_106 FOREIGN KEY (CLNT_ENGMT_CD,SECUR_SRVC_CD) REFERENCES CLNT_SECUR_SRVC_ENGMT(CLNT_ENGMT_CD,SECUR_SRVC_CD)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_VULN_INSTC_STS_107 FOREIGN KEY (VULN_INSTC_STS_CD) REFERENCES VULN_INSTC_STS(VULN_INSTC_STS_CD)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_VULN_IMP_108 FOREIGN KEY (VULN_IMP_CD) REFERENCES VULN_IMP(VULN_IMP_CD)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_RISK_PRBL_109 FOREIGN KEY (RISK_PRBL_CD) REFERENCES RISK_PRBL(RISK_PRBL_CD)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_RMDTN_CST_EFFRT_110 FOREIGN KEY (RMDTN_CST_EFFRT_CD) REFERENCES RMDTN_CST_EFFRT(RMDTN_CST_EFFRT_CD)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_VULN_CATGY_111 FOREIGN KEY (VULN_CATGY_CD) REFERENCES VULN_CATGY(VULN_CATGY_CD)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_OS_112 FOREIGN KEY (OS_KEY) REFERENCES OS(OS_KEY)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_CVE_113 FOREIGN KEY (CVE_ID) REFERENCES CVE(CVE_ID)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC	ADD CONSTRAINT FK_VULN_123 FOREIGN KEY (VULN_NM) REFERENCES VULN(VULN_NM)
ALTER TABLE '+ @SchemaName+ '.CLNT_VULN_INSTC   ADD CONSTRAINT FK_MSTR_LKP_184 FOREIGN KEY (SCAN_TL_KEY) REFERENCES MSTR_LKP(MSTR_LKP_KEY)

END
ELSE
BEGIN
SELECT -1 Retval
END 
'


--  PRINT  (@query1)
EXECUTE (@Query1)

SET @Query2= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_SECUR_CTL'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL](
       [CLNT_VULN_INSTC_KEY] [int] NOT NULL,
       [REG_CMPLN_CD] [varchar](20) NOT NULL,
       [REG_CMPLN_VER] [varchar](20) NOT NULL,
       [SECUR_CTL_CD] [varchar](20) NOT NULL,
       [ROW_STS_KEY] [int] NOT NULL,
       [CREAT_DT] [datetime] NULL,
       [CREAT_USER_ID] [int] NULL,
       [UPDT_DT] [datetime] NULL,
       [UPDT_USER_ID] [int] NULL,
CONSTRAINT [PK_CLNT_VULN_SECUR_CTL] PRIMARY KEY CLUSTERED 
(
       [CLNT_VULN_INSTC_KEY] ASC,
       [REG_CMPLN_CD] ASC,
       [REG_CMPLN_VER] ASC,
       [SECUR_CTL_CD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([CLNT_VULN_INSTC_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_VULN_INSTC] ([CLNT_VULN_INSTC_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_SECUR_CTL]  WITH CHECK ADD FOREIGN KEY([REG_CMPLN_CD], [REG_CMPLN_VER], [SECUR_CTL_CD])
REFERENCES [dbo].[SECUR_CTL] ([REG_CMPLN_CD], [REG_CMPLN_VER], [SECUR_CTL_CD]) 
SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query2)

SET @Query3= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_ROADMAP_FACT'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT](
       [CLNT_ROADMAP_KEY] [int] NOT NULL,
       [ROW_STS_KEY] [int] NULL,
       [ORG_KEY] [int] NULL,
       [CLNT_ENGMT_CD] [varchar](30) NULL,
       [CSA_DOM_CD] [varchar](10) NOT NULL,
       [VULN_CATGY_CD] [varchar](10) NOT NULL,
       [VULN_SEV_CD] [varchar](3) NOT NULL,
       [RMDTN_CST_EFFRT_CD] [varchar](3) NOT NULL,
       [ROADMAP_TMLN_CD] [char](1) NOT NULL,
       [ROADMAP_EFF_DT] [datetime] NULL,
       [ROADMAP_PUBL_DT] [datetime] NULL,
       [VULN_CNT] [int] NULL,
       [ROADMAP_COMMT] [varchar](5000) NULL,
       [CREAT_DT] [datetime] NOT NULL,
       [CREAT_USER_ID] [int] NOT NULL,
       [UPDT_DT] [datetime] NULL,
       [UPDT_USER_ID] [int] NULL,
CONSTRAINT [PK_CLNT_ROADMAP_FACT] PRIMARY KEY CLUSTERED 
(
       [CLNT_ROADMAP_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]


ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_ENGMT_126] FOREIGN KEY([CLNT_ENGMT_CD])
REFERENCES [dbo].[CLNT_ENGMT] ([CLNT_ENGMT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_CLNT_ENGMT_126]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_CSA_REF_ARCH_DOM_141] FOREIGN KEY([CSA_DOM_CD])
REFERENCES [dbo].[CSA_REF_ARCH_DOM] ([CSA_DOM_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_CSA_REF_ARCH_DOM_141]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_131] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_MSTR_LKP_131]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_ORG_125] FOREIGN KEY([ORG_KEY])
REFERENCES [dbo].[ORG] ([ORG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_ORG_125]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_RMDTN_CST_EFFRT_128] FOREIGN KEY([RMDTN_CST_EFFRT_CD])
REFERENCES [dbo].[RMDTN_CST_EFFRT] ([RMDTN_CST_EFFRT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_RMDTN_CST_EFFRT_128]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_ROADMAP_TMLN_130] FOREIGN KEY([ROADMAP_TMLN_CD])
REFERENCES [dbo].[ROADMAP_TMLN] ([ROADMAP_TMLN_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_ROADMAP_TMLN_130]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_VULN_CATGY_129] FOREIGN KEY([VULN_CATGY_CD])
REFERENCES [dbo].[VULN_CATGY] ([VULN_CATGY_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_VULN_CATGY_129]

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT]  WITH CHECK ADD  CONSTRAINT [FK_VULN_SEV_127] FOREIGN KEY([VULN_SEV_CD])
REFERENCES [dbo].[VULN_SEV] ([VULN_SEV_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_ROADMAP_FACT] CHECK CONSTRAINT [FK_VULN_SEV_127]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query3)

SET @Query4= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RMDTN_PLN'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN](
	[CLNT_RMDTN_PLN_KEY] [int] IDENTITY(1,1) NOT NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[ORG_KEY] [int] NOT NULL,
	[CLNT_ENGMT_CD] [varchar](30) NOT NULL,
	[RMDTN_OWNR_USER_ID] [int]  NULL,
	[RMDTN_PLN_STS_CD] [char](1) NOT NULL,
	[ADJ_RMDTN_PLN_SEV_CD] varchar(3)  NULL ,
	[RMDTN_PLN_SEV_CD]     varchar(3)  NULL ,
	[RMDTN_PLN_NM] [varchar](150) NOT NULL,
	[RMDTN_PLN_DESC] [text] NULL,
	[RMDTN_PLN_CREAT_DT] [datetime] NOT NULL,
	[RMDTN_PLN_NTF_DT] [datetime] NULL,
	[RMDTN_PLN_STRT_DT] [datetime] NULL,
	[RMDTN_PLN_DUE_DT] [datetime] NULL,
	[RMDTN_PLN_CLOS_DT] [datetime] NULL,
	[ASSOC_VULN_TOT_CNT] [int] NOT NULL,
	[ASSOC_VULN_CMPL_CNT] [int] NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RMDTN_PLN] PRIMARY KEY CLUSTERED 
(
	[CLNT_RMDTN_PLN_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_ENGMT_142] FOREIGN KEY([CLNT_ENGMT_CD])
REFERENCES [dbo].[CLNT_ENGMT] ([CLNT_ENGMT_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_CLNT_ENGMT_142]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_150] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_MSTR_LKP_150]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_ORG_143] FOREIGN KEY([ORG_KEY])
REFERENCES [dbo].[ORG] ([ORG_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_ORG_143]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_RMDTN_PLN_STS_159] FOREIGN KEY([RMDTN_PLN_STS_CD])
REFERENCES [dbo].[RMDTN_PLN_STS] ([RMDTN_PLN_STS_CD])

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_RMDTN_PLN_STS_159]


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_156] FOREIGN KEY([RMDTN_OWNR_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])


ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN] CHECK CONSTRAINT [FK_USER_PRFL_156]


CREATE NONCLUSTERED INDEX IF7_CLNT_RMDTN_PLN ON '+ @SchemaName+ '.CLNT_RMDTN_PLN
( 
	RMDTN_PLN_SEV_CD      ASC
)


CREATE NONCLUSTERED INDEX IF8_CLNT_RMDTN_PLN ON '+ @SchemaName+ '.CLNT_RMDTN_PLN
( 
	ADJ_RMDTN_PLN_SEV_CD  ASC
)



ALTER TABLE '+ @SchemaName+ '.CLNT_RMDTN_PLN	ADD CONSTRAINT FK_VULN_SEV_182 FOREIGN KEY (RMDTN_PLN_SEV_CD) REFERENCES VULN_SEV(VULN_SEV_CD)

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query4)

SET @Query5= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_VULN_RMDTN_PLN_ITM'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM](
	[CLNT_VULN_INSTC_KEY] [int] NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NOT NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_VULN_RMDTN_PLN_ITM] PRIMARY KEY CLUSTERED 
(
	[CLNT_VULN_INSTC_KEY] ASC,
	[CLNT_RMDTN_PLN_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] 

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_149] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_149]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_VULN_INSTC_148] FOREIGN KEY([CLNT_VULN_INSTC_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_VULN_INSTC] ([CLNT_VULN_INSTC_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_CLNT_VULN_INSTC_148]

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_160] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])

ALTER TABLE '+ @SchemaName+ '.[CLNT_VULN_RMDTN_PLN_ITM] CHECK CONSTRAINT [FK_MSTR_LKP_160]



SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query5)


SET @Query6= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RMDTN_PLN_COMMT'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT](
	[CLNT_RMDTN_PLN_COMMT_KEY] [int] IDENTITY(1,1) NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NOT NULL,
	[ENT_DT] [datetime] NOT NULL,
	[COMMT_TXT] [text] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RMDTN_PLN_COMMT] PRIMARY KEY CLUSTERED 
(
	[CLNT_RMDTN_PLN_COMMT_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_147] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RMDTN_PLN_COMMT] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_147]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query6)

SET @Query7= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RISK_RGST'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST](
	[CLNT_RISK_RGST_KEY] [int] IDENTITY(1,1) NOT NULL,
	[ROW_STS_KEY] [int] NOT NULL,
	[CLNT_RMDTN_PLN_KEY] [int] NULL,
	[ENT_USER_ID] [int] NOT NULL,
	[ENT_DT] [datetime] NOT NULL,
	[SUM_ADJ_SEV_CD] [varchar](3) NOT NULL,
	[SUM_COMP_CTL_TXT] [text] NOT NULL,
	[NTF_DT] [datetime] NULL,
	[ACPT_USER_ID] [int] NULL,
	[ACPT_DT] [datetime] NULL,
	[ACPT_USER_SGN_TXT] [varchar](150) NULL,
	[RISK_RSPN_CD] [char](1) NULL,
	[RISK_JSTFY_TXT] [text] NULL,
	[RISK_RGST_ITM_TOT_CNT] [int] NOT NULL,
	[CREAT_DT] [datetime] NOT NULL,
	[CREAT_USER_ID] [int] NOT NULL,
	[UPDT_DT] [datetime] NULL,
	[UPDT_USER_ID] [int] NULL,
 CONSTRAINT [PK_CLNT_RISK_RGST] PRIMARY KEY CLUSTERED 
(
	[CLNT_RISK_RGST_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_CLNT_RMDTN_PLN_172] FOREIGN KEY([CLNT_RMDTN_PLN_KEY])
REFERENCES '+ @SchemaName+ '.[CLNT_RMDTN_PLN] ([CLNT_RMDTN_PLN_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_CLNT_RMDTN_PLN_172]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_MSTR_LKP_167] FOREIGN KEY([ROW_STS_KEY])
REFERENCES [dbo].[MSTR_LKP] ([MSTR_LKP_KEY])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_MSTR_LKP_167]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_RISK_RSPN_168] FOREIGN KEY([RISK_RSPN_CD])
REFERENCES [dbo].[RISK_RSPN] ([RISK_RSPN_CD])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_RISK_RSPN_168]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_157] FOREIGN KEY([ACPT_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])
ALTER TABLE [dbo].[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_USER_PRFL_157]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_USER_PRFL_158] FOREIGN KEY([ENT_USER_ID])
REFERENCES [dbo].[USER_PRFL] ([USER_ID])
ALTER TABLE [dbo].[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_USER_PRFL_158]
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST]  WITH CHECK ADD  CONSTRAINT [FK_VULN_SEV_169] FOREIGN KEY([SUM_ADJ_SEV_CD])
REFERENCES [dbo].[VULN_SEV] ([VULN_SEV_CD])
ALTER TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST] CHECK CONSTRAINT [FK_VULN_SEV_169]

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query7)

SET @Query8= '
IF NOT EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES WHERE TABLE_SCHEMA = '''+ @SchemaName+'''  AND TABLE_NAME =''CLNT_RISK_RGST_ITM'')
BEGIN
CREATE TABLE '+ @SchemaName+ '.[CLNT_RISK_RGST_ITM]

( 
	CLNT_RISK_RGST_KEY   int  NOT NULL ,
	CLNT_VULN_INSTC_KEY  integer  NOT NULL ,
	ROW_STS_KEY          integer  NULL ,
	ADJ_SEV_CD           varchar(3)  NOT NULL ,
	COMP_CTL_TXT         text  NOT NULL ,
	CREAT_DT             datetime  NOT NULL ,
	CREAT_USER_ID        integer  NOT NULL ,
	UPDT_DT              datetime  NULL ,
	UPDT_USER_ID         integer  NULL 
)

ALTER TABLE '+ @SchemaName+ '.CLNT_RISK_RGST_ITM
	ADD CONSTRAINT PK_CLNT_RISK_RGST_ITM PRIMARY KEY  CLUSTERED (CLNT_RISK_RGST_KEY ASC,CLNT_VULN_INSTC_KEY ASC)

CREATE NONCLUSTERED INDEX IF2_CLNT_RISK_RGST_ITM ON '+ @SchemaName+ '.CLNT_RISK_RGST_ITM(CLNT_RISK_RGST_KEY    ASC)
CREATE NONCLUSTERED INDEX IF3_CLNT_RISK_RGST_ITM ON '+ @SchemaName+ '.CLNT_RISK_RGST_ITM(CLNT_VULN_INSTC_KEY   ASC)
CREATE NONCLUSTERED INDEX IF4_CLNT_RISK_RGST_ITM ON '+ @SchemaName+ '.CLNT_RISK_RGST_ITM(ROW_STS_KEY ASC)


ALTER TABLE '+ @SchemaName+ '.CLNT_RISK_RGST_ITM	ADD CONSTRAINT FK_CLNT_RISK_RGST_166 FOREIGN KEY (CLNT_RISK_RGST_KEY) REFERENCES '+ @SchemaName+ '.CLNT_RISK_RGST(CLNT_RISK_RGST_KEY)
ALTER TABLE '+ @SchemaName+ '.CLNT_RISK_RGST_ITM	ADD CONSTRAINT FK_CLNT_VULN_INSTC_173 FOREIGN KEY (CLNT_VULN_INSTC_KEY) REFERENCES '+ @SchemaName+ '.CLNT_VULN_INSTC(CLNT_VULN_INSTC_KEY)
ALTER TABLE '+ @SchemaName+ '.CLNT_RISK_RGST_ITM	ADD CONSTRAINT FK_MSTR_LKP_206 FOREIGN KEY (ROW_STS_KEY) REFERENCES MSTR_LKP(MSTR_LKP_KEY)

SELECT 1 Retval
END
ELSE
BEGIN
SELECT -1 Retval
END 
'
EXECUTE (@Query8)

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END;

