-- ALTER TABLE APO3.CLNT_RISK_RGST_ITM ADD ADJ_SEV_CD VARCHAR(3),COMP_CTL_TXT TEXT

--SP_RENAME 'APO3.CLNT_RISK_RGST.ADJ_SEV_CD','SUM_ADJ_SEV_CD'
--SP_RENAME 'APO3.CLNT_RISK_RGST.COMP_CTL_TXT','SUM_COMP_CTL_TXT'
--ALTER TABLE APO3.CLNT_RISK_RGST ALTER COLUMN SUM_ADJ_SEV_CD VARCHAR(3) NULL
--ALTER TABLE APO3.CLNT_RISK_RGST ALTER COLUMN SUM_COMP_CTL_TXT TEXT NULL



GO


CREATE PROCEDURE [dbo].[RMDTN_UpdateRiskRegistryITMS]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@CLNT_VULN_INSTC_KEY	INTEGER,
	@ADJ_SEV_CD				VARCHAR(3),
	@COMP_CTL_TXT			TEXT,
	@Userid					INTEGER,
	@schema					VARCHAR(50),
	@Flag					VARCHAR(1)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)
	


IF @Flag = 'U' -- Severity update
	BEGIN
	SET		@Query =	'UPDATE '+ @schema+'.CLNT_RISK_RGST_ITM
						SET ADJ_SEV_CD	= '+ isnull('''' + convert(varchar(3),@ADJ_SEV_CD) + '''','null') + ',
							COMP_CTL_TXT	= '+ isnull('''' + replace(convert(varchar(max),@COMP_CTL_TXT),'''','''''') + '''','null') + ',   
							UPDT_DT			=	'+'GETDATE()'+',
							UPDT_USER_ID	=	'+CONVERT(VARCHAR,@Userid)+'
							WHERE	CLNT_RISK_RGST_KEY		=  '+CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY)+'
							AND		CLNT_VULN_INSTC_KEY		=  '+CONVERT(VARCHAR,@CLNT_VULN_INSTC_KEY)+''
	
	
 
--	PRINT    @Query
	EXECUTE (@Query)
	 SELECT @@ROWCOUNT AS RETVALS
END
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

CREATE PROCEDURE [dbo].[RMDTN_GetRegItmsByInstcKey]
(
	@CLNT_VULN_INSTC_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  B.CLNT_VULN_INSTC_KEY,A.CLNT_RMDTN_PLN_KEY,C.IPADR,C.SFTW_NM,C.VULN_SEV_CD,
			B.CREAT_DT,C.VULN_NM,D.VULN_SEV_NM,F.VULN_CATGY_NM,C.VULN_CREAT_DT,C.VULN_CLOS_DT,E.VULN_INSTC_STS_CD,E.VULN_INSTC_STS_NM,
			G.ADJ_RMDTN_PLN_SEV_CD,CASE WHEN G.ADJ_RMDTN_PLN_SEV_CD=''C'' THEN  ''Critical''
										WHEN G.ADJ_RMDTN_PLN_SEV_CD=''H'' THEN  ''High''
										WHEN G.ADJ_RMDTN_PLN_SEV_CD=''M'' THEN ''Medium''
										WHEN G.ADJ_RMDTN_PLN_SEV_CD=''L'' THEN  ''Low'' END ADJ_RMDTN_PLN_SEV_NM,
			B.ADJ_SEV_CD,B.COMP_CTL_TXT
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RISK_RGST_ITM			B
	ON		A.CLNT_RISK_RGST_KEY			=		B.CLNT_RISK_RGST_KEY
	JOIN	'+ @schema+'.CLNT_VULN_INSTC			C
	ON		B.CLNT_VULN_INSTC_KEY			=		C.CLNT_VULN_INSTC_KEY
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				G
	ON		A.CLNT_RMDTN_PLN_KEY			=		G.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_INSTC_STS							E
	ON		C.VULN_INSTC_STS_CD				=		E.VULN_INSTC_STS_CD
	JOIN	VULN_SEV								D
	ON		B.ADJ_SEV_CD					=		D.VULN_SEV_CD
	JOIN	VULN_CATGY								F
	ON		C.VULN_CATGY_CD					=		F.VULN_CATGY_CD
	WHERE	C.CLNT_VULN_INSTC_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_VULN_INSTC_KEY)+'
 '
	--PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END

GO
ALTER PROCEDURE [dbo].[RMDTN_INS_CLNT_RISK_RGST]
(
       @CLNT_RISK_RGST_KEY			INTEGER,
	   @ROW_STS_KEY					INTEGER,
	   @CLNT_RMDTN_PLN_KEY			INTEGER,	
	   @ADJ_SEV_CD					VARCHAR(3),
	   @ENT_USER_ID					INTEGER,
	   @ENT_DT						DATETIME,
	   @COMP_CTL_TXT				TEXT,
	   @NTF_DT						DATETIME,
	   @ACPT_USER_ID				INTEGER,
	   @ACPT_DT						DATETIME,
	   @ACPT_USER_SGN_TXT			VARCHAR(150),
	   @RISK_RSPN_CD				VARCHAR(1),
	   @RISK_JSTFY_TXT				TEXT,
	   @RISK_RGST_ITM_TOT_CNT		INTEGER,
	   @USER_ID						INTEGER,
       @Flag						VARCHAR(1),    
       @schema						VARCHAR(50)       

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(max)
DECLARE @id INTEGER

       IF @Flag = 'D'
       BEGIN
              
        SET   @Query = 'DELETE FROM '+ @schema+'.CLNT_RISK_RGST
                       WHERE CLNT_RISK_RGST_KEY  =   '+ CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY) +''

              EXECUTE (@Query)
              SELECT @@ROWCOUNT AS RETVALS
                     
       END

       IF @Flag = 'I'
       BEGIN
  
		SET          @Query =	'INSERT '+ @schema+'.CLNT_RISK_RGST (ROW_STS_KEY,CLNT_RMDTN_PLN_KEY,SUM_ADJ_SEV_CD,
								ENT_USER_ID,ENT_DT,SUM_COMP_CTL_TXT,NTF_DT,ACPT_USER_ID,ACPT_DT,ACPT_USER_SGN_TXT,
								RISK_RSPN_CD,RISK_JSTFY_TXT,RISK_RGST_ITM_TOT_CNT,CREAT_DT,CREAT_USER_ID) VALUES

		('+CONVERT(VARCHAR, @ROW_STS_KEY)+',
		'+CONVERT(VARCHAR,@CLNT_RMDTN_PLN_KEY)+',
		 '+ isnull('''' + convert(varchar(3),@ADJ_SEV_CD) + '''','null') + ',
		 '+ isnull('''' + convert(varchar,@ENT_USER_ID) + '''','null') + ',
		 '+ isnull('''' + convert(varchar(50),@ENT_DT) + '''','null') + ',
		  '+ isnull('''' + replace(convert(varchar(max),@COMP_CTL_TXT),'''','''''') + '''','null') + ',
		  '+ isnull('''' + convert(varchar(50),@NTF_DT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar,@ACPT_USER_ID) + '''','null') + ',
		  '+ isnull('''' + convert(varchar(50),@ACPT_DT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar(150),@ACPT_USER_SGN_TXT) + '''','null') + ',
		  '+ isnull('''' + convert(varchar(50),@RISK_RSPN_CD) + '''','null') + ',
		  '+ isnull('''' + replace(convert(varchar(max),@RISK_JSTFY_TXT),'''','''''') + '''','null') + ',
		  '+ isnull('''' + convert(varchar,@RISK_RGST_ITM_TOT_CNT) + '''','null') + ',
		  '+'GETDATE()'+',
		  '+CONVERT(VARCHAR,@USER_ID)+') ; SELECT @@IDENTITY' 

		  PRINT @Query
		--  PRINT @id
		--  EXECUTE sp_executesql @Query, N'@Id INTEGER OUTPUT', @NewId OUTPUT
		  -- SELECT @Result = @id
		  DECLARE @Result AS Table (RetValue int)
		  INSERT INTO @Result EXECUTE (@Query)
		  SELECT RetValue FROM @Result
		--  SELECT @id AS RETVAL
                       
       END
	   
       IF @Flag = 'U'
       BEGIN
            
               SET		@Query = 'UPDATE  '+ @schema+'.CLNT_RISK_RGST
               SET      ACPT_USER_ID			= '+ isnull('''' + convert(varchar,@ACPT_USER_ID) + '''','null') + ',
						ACPT_DT					= '+'GETDATE()'+',
						ACPT_USER_SGN_TXT		= '+ isnull('''' + convert(varchar(150),@ACPT_USER_SGN_TXT) + '''','null') + ',
						RISK_RSPN_CD			= '+ isnull('''' + convert(varchar(50),@RISK_RSPN_CD) + '''','null') + ',
						RISK_JSTFY_TXT			=  '+ isnull('''' + replace(convert(varchar(max),@RISK_JSTFY_TXT),'''','''''') + '''','null') + '
               WHERE	CLNT_RISK_RGST_KEY		=  '+CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY)+ +''
              
              
               EXECUTE (@Query)
               SELECT @@ROWCOUNT AS RETVALS
       END

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END

GO

ALTER PROCEDURE [dbo].[RMDTN_UpdateRiskRegistry]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@SUM_ADJ_SEV_CD			VARCHAR(3),
	@SUM_COMP_CTL_TXT		TEXT,
	@ENT_USER_ID			INTEGER,
	@Userid					INTEGER,
	@schema					VARCHAR(50),
	@Flag					VARCHAR(1)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)
	
	IF @Flag = 'U'
	BEGIN
	SET		@Query =	'UPDATE '+ @schema+'.CLNT_RISK_RGST
						SET 
							SUM_COMP_CTL_TXT	= '+ISNULL('''' + REPLACE(CONVERT(VARCHAR(MAX),@SUM_COMP_CTL_TXT),'''','''''') + '''','NULL') +',
							ACPT_USER_ID		=  '+ isnull('''' + convert(varchar,@ENT_USER_ID) + '''','null') + ',
							UPDT_DT			=	'+'GETDATE()'+',
							UPDT_USER_ID	=	'+CONVERT(VARCHAR,@Userid)+'
							WHERE	CLNT_RISK_RGST_KEY		=  '+CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY)+''
	
	
 
--	PRINT    @Query
	EXECUTE (@Query)
	 SELECT @@ROWCOUNT AS RETVALS
END

IF @Flag = 'S' -- Severity update
	BEGIN
	SET		@Query =	'UPDATE '+ @schema+'.CLNT_RISK_RGST
						SET SUM_ADJ_SEV_CD	= '+ isnull('''' + convert(varchar(3),@SUM_ADJ_SEV_CD) + '''','null') + ',
							UPDT_DT			=	'+'GETDATE()'+',
							UPDT_USER_ID	=	'+CONVERT(VARCHAR,@Userid)+'
							WHERE	CLNT_RISK_RGST_KEY		=  '+CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY)+''
	
	
 
--	PRINT    @Query
	EXECUTE (@Query)
	 SELECT @@ROWCOUNT AS RETVALS
END
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
CREATE PROCEDURE  [dbo].[RMDTN_GetRegistryPlanSeverity]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50),
	@CLNT_RISK_RGST_KEY  INTEGER
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)

SET @Query='
IF OBJECT_ID(''dbo.#1'', ''U'') IS NOT NULL 
  DROP TABLE dbo.#1; 

SELECT	  D.CLNT_RISK_RGST_KEY,A.CLNT_ENGMT_CD,COUNT(DISTINCT C.CLNT_VULN_INSTC_KEY)FindingCount,
		  SUM(A.VULN_OVALL_SCOR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)SEVAVG INTO dbo.#1
FROM	  '+@Schema+'.CLNT_VULN_INSTC			A
JOIN	  '+@Schema+'.CLNT_RMDTN_PLN				B
ON		  A.CLNT_ENGMT_CD					=	B.CLNT_ENGMT_CD
JOIN	  '+@Schema+'.CLNT_RISK_RGST				D
ON		  D.CLNT_RMDTN_PLN_KEY				=	B.CLNT_RMDTN_PLN_KEY
JOIN	  '+@Schema+'.CLNT_RISK_RGST_ITM			C
ON		  D.CLNT_RISK_RGST_KEY				=	C.CLNT_RISK_RGST_KEY
AND		  A.CLNT_VULN_INSTC_KEY				=	C.CLNT_VULN_INSTC_KEY
WHERE	  A.CLNT_ENGMT_CD					=	'''+@CLNT_ENGMT_CD+'''
GROUP BY  D.CLNT_RISK_RGST_KEY,A.CLNT_ENGMT_CD
--SELECT * FROM  dbo.#1; 


IF OBJECT_ID(''dbo.#2'', ''U'') IS NOT NULL 
  DROP TABLE dbo.#2; 

SELECT  CLNT_RISK_RGST_KEY,SUM(SEVSQRT)SEVSUM  INTO dbo.#2 FROM(
SELECT  B.CLNT_RISK_RGST_KEY,
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))*
		(CONVERT(NUMERIC,ISNULL(B.SEVAVG,0)) -CONVERT(NUMERIC,ISNULL(VULN_OVALL_SCOR,0)))SEVSQRT

FROM	 '+@Schema+'.CLNT_VULN_INSTC		A
JOIN	 dbo.#1								B
ON		 A.CLNT_ENGMT_CD				=	B.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN			C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_RISK_RGST			E
ON		 C.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
AND		 B.CLNT_RISK_RGST_KEY			=	E.CLNT_RISK_RGST_KEY
JOIN	 '+@Schema+'.CLNT_RISK_RGST_ITM		D
ON		 E.CLNT_RISK_RGST_KEY			=	D.CLNT_RISK_RGST_KEY
AND		 B.CLNT_RISK_RGST_KEY			=	D.CLNT_RISK_RGST_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY

WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
)Z
GROUP BY CLNT_RISK_RGST_KEY
--SELECT * FROM dbo.#2


IF OBJECT_ID(''dbo.#3'', ''U'') IS NOT NULL 
 DROP TABLE dbo.#3;

SELECT	 E.CLNT_RISK_RGST_KEY,A.CLNT_ENGMT_CD,MAX(VULN_OVALL_SCOR)OVERALLMax,
		 SUM(B.RMDTN_CST_EFFRT_ORDR_NBR)/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)CST INTO dbo.#3
FROM	 '+@Schema+'.CLNT_VULN_INSTC		A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN			C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_RISK_RGST			E
ON		 C.CLNT_RMDTN_PLN_KEY			=	E.CLNT_RMDTN_PLN_KEY
JOIN	 '+@Schema+'.CLNT_RISK_RGST_ITM		D
ON		 E.CLNT_RISK_RGST_KEY			=	D.CLNT_RISK_RGST_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 RMDTN_CST_EFFRT					B
ON		 A.RMDTN_CST_EFFRT_CD			=	B.RMDTN_CST_EFFRT_CD
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
GROUP BY E.CLNT_RISK_RGST_KEY,A.CLNT_ENGMT_CD
--SELECT * FROM Dbo.#3

IF OBJECT_ID(''dbo.#4'', ''U'') IS NOT NULL 
 DROP TABLE dbo.#4;
SELECT	 A.CLNT_ENGMT_CD,G.CLNT_RISK_RGST_KEY,COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)VULCOUNT,(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY)))SEV1,F.OVERALLMax,
		 (F.OVERALLMax -(SQRT(E.SEVSUM/COUNT(DISTINCT A.CLNT_VULN_INSTC_KEY))))SEV,F.CST INTO Dbo.#4
FROM	 '+@Schema+'.CLNT_VULN_INSTC		A
JOIN	 '+@Schema+'.CLNT_RMDTN_PLN			C
ON		 A.CLNT_ENGMT_CD				=	C.CLNT_ENGMT_CD
JOIN	 '+@Schema+'.CLNT_RISK_RGST			G
ON		 C.CLNT_RMDTN_PLN_KEY			=	G.CLNT_RMDTN_PLN_KEY
JOIN	 '+@Schema+'.CLNT_RISK_RGST_ITM		D
ON		 G.CLNT_RISK_RGST_KEY			=	D.CLNT_RISK_RGST_KEY
AND		 A.CLNT_VULN_INSTC_KEY			=	D.CLNT_VULN_INSTC_KEY
JOIN	 #2									E
ON		 G.CLNT_RISK_RGST_KEY			=	E.CLNT_RISK_RGST_KEY
AND		 D.CLNT_RISK_RGST_KEY			=	E.CLNT_RISK_RGST_KEY
JOIN	 #3									F
ON		 G.CLNT_RISK_RGST_KEY			=	F.CLNT_RISK_RGST_KEY
AND		 E.CLNT_RISK_RGST_KEY			=	F.CLNT_RISK_RGST_KEY
WHERE	 A.CLNT_ENGMT_CD				=	'''+@CLNT_ENGMT_CD+'''
GROUP BY G.CLNT_RISK_RGST_KEY,E.SEVSUM,F.CST,F.OVERALLMax,A.CLNT_ENGMT_CD
--SELECT * from dbo.#4;


		SELECT  COUNT(CASE WHEN A.VULN_SEV_CD=''C'' THEN  B.CLNT_RISK_RGST_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN A.VULN_SEV_CD=''H'' THEN  B.CLNT_RISK_RGST_KEY ELSE NULL END)High,
				COUNT(CASE WHEN A.VULN_SEV_CD=''M'' THEN  B.CLNT_RISK_RGST_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN A.VULN_SEV_CD=''L'' THEN  B.CLNT_RISK_RGST_KEY ELSE NULL END)Low,
				COUNT(B.CLNT_RISK_RGST_KEY)ActionPlan,SUM(E.RISK_RGST_ITM_TOT_CNT) Instances

		FROM	VULN_SEV				A
		JOIN	dbo.#4					B
		ON		(B.SEV	 >= OVALL_SCOR_MIN AND B.SEV	 <= OVALL_SCOR_MAX)
		JOIN	dbo.#4					C
		ON		B.CLNT_RISK_RGST_KEY=	C.CLNT_RISK_RGST_KEY
		JOIN	RMDTN_CST_EFFRT			D
		ON		C.CST				=	D.RMDTN_CST_EFFRT_ORDR_NBR
		JOIN	'+@Schema+'.CLNT_RISK_RGST		E
		ON		E.CLNT_RISK_RGST_KEY=	B.CLNT_RISK_RGST_KEY
		AND		B.CLNT_RISK_RGST_KEY=	'+CONVERt(VARCHAR,@CLNT_RISK_RGST_KEY)
		
 EXECUTE(@Query)
--PRINT(@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE [dbo].[RMDTN_INS_CLNT_RISK_RGST_ITM]
(
       @CLNT_RISK_RGST_KEY			INTEGER,
	   @CLNT_VULN_INSTC_KEY			INTEGER,
	   @USER_ID						INTEGER,
       @Flag						VARCHAR(1),    
       @schema						VARCHAR(50),
	   @ADJ_SEV_CD					VARCHAR(3),
	   @COMP_CTL_TXT				TEXT
	          

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(max)
DECLARE @id INTEGER

       IF @Flag = 'D'
       BEGIN
              
        SET   @Query = 'DELETE FROM '+ @schema+'.CLNT_RISK_RGST_ITM
                       WHERE CLNT_RISK_RGST_KEY  =   '+ CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY) +''

              EXECUTE (@Query)
              SELECT @@ROWCOUNT AS RETVALS
                     
       END

       IF @Flag = 'I'
       BEGIN
  
		SET          @Query =	'INSERT '+ @schema+'.CLNT_RISK_RGST_ITM (CLNT_RISK_RGST_KEY,CLNT_VULN_INSTC_KEY,ADJ_SEV_CD,COMP_CTL_TXT,CREAT_DT,CREAT_USER_ID) VALUES

		('+CONVERT(VARCHAR, @CLNT_RISK_RGST_KEY)+',
		'+CONVERT(VARCHAR,@CLNT_VULN_INSTC_KEY)+',
		''' +CONVERT(VARCHAR,@ADJ_SEV_CD)+''',
		''' +CONVERT(VARCHAR,@COMP_CTL_TXT)+''',
		'+'GETDATE()'+',
		  '+CONVERT(VARCHAR,@USER_ID)+') ; SELECT @@IDENTITY' 

		--  PRINT @Query
		--  PRINT @id
		--  EXECUTE sp_executesql @Query, N'@Id INTEGER OUTPUT', @NewId OUTPUT
		  -- SELECT @Result = @id
		  DECLARE @Result AS Table (RetValue int)
		  INSERT INTO @Result EXECUTE (@Query)
	--	  SELECT RetValue FROM @Result
		--  SELECT @id AS RETVAL
         SELECT @@ROWCOUNT AS RETVALS               
       END
	   
       IF @Flag = 'U'
       BEGIN
            
        --       SET   @Query = 'UPDATE  '+ @schema+'.CLNT_RMDTN_PLN_COMMT
        --       SET     CLNT_RMDTN_PLN_KEY	=   '+CONVERT(VARCHAR,@CLNT_RMDTN_PLN_KEY)+',
        --               ENT_DT				=   '+ isnull('''' + convert(varchar(50),@ENT_DT) + '''','null') + ',  
					   --COMMT_TXT			=	'+ isnull('''' + replace(convert(varchar(max),@COMMT_TXT),'''','''''') + '''','null') + ',
        --               UPDT_DT				=   '+'GETDATE()'+'
					   --UPDT_USER_ID			=	'+ CONVERT(VARCHAR,@USER_ID) +'
        --       WHERE   CLNT_RMDTN_PLN_COMMT_KEY  =   '+ CONVERT(VARCHAR,@CLNT_RMDTN_PLN_COMMT_KEY) +''
              
              
                        EXECUTE (@Query)
               SELECT @@ROWCOUNT AS RETVALS
       END

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_GetFindingsByRegistKey]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  B.CLNT_VULN_INSTC_KEY,A.CLNT_RMDTN_PLN_KEY,C.IPADR,C.SFTW_NM,C.VULN_SEV_CD,
			B.CREAT_DT,C.VULN_NM,D.VULN_SEV_NM,F.VULN_CATGY_NM,C.VULN_CREAT_DT,C.VULN_CLOS_DT,E.VULN_INSTC_STS_CD,E.VULN_INSTC_STS_NM,
			G.ADJ_RMDTN_PLN_SEV_CD,CASE WHEN G.ADJ_RMDTN_PLN_SEV_CD=''C'' THEN  ''Critical''
										WHEN G.ADJ_RMDTN_PLN_SEV_CD=''H'' THEN  ''High''
										WHEN G.ADJ_RMDTN_PLN_SEV_CD=''M'' THEN ''Medium''
										WHEN G.ADJ_RMDTN_PLN_SEV_CD=''L'' THEN  ''Low'' END ADJ_RMDTN_PLN_SEV_NM,H.VULN_SEV_NM ADJ_SEV_NM
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RISK_RGST_ITM			B
	ON		A.CLNT_RISK_RGST_KEY			=		B.CLNT_RISK_RGST_KEY
	JOIN	'+ @schema+'.CLNT_VULN_INSTC			C
	ON		B.CLNT_VULN_INSTC_KEY			=		C.CLNT_VULN_INSTC_KEY
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				G
	ON		A.CLNT_RMDTN_PLN_KEY			=		G.CLNT_RMDTN_PLN_KEY
	JOIN	VULN_INSTC_STS							E
	ON		C.VULN_INSTC_STS_CD				=		E.VULN_INSTC_STS_CD
	JOIN	VULN_SEV								D
	ON		C.VULN_SEV_CD					=		D.VULN_SEV_CD
	JOIN	VULN_SEV								H
	ON		B.ADJ_SEV_CD					=		H.VULN_SEV_CD
	JOIN	VULN_CATGY								F
	ON		C.VULN_CATGY_CD					=		F.VULN_CATGY_CD
	WHERE	A.CLNT_RISK_RGST_KEY			=		'+CONVERT(VARCHAR(50),@CLNT_RISK_RGST_KEY)+'
 '
	--PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END

-- Reports Sigle User

GO
ALTER PROCEDURE  [dbo].[RMDTN_ReportRemediation]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50),
	@RMDTN_OWNR_USER_ID	 INTEGER
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)

SET @Query='

		SELECT  COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low,
				COUNT(B.CLNT_RMDTN_PLN_KEY)ActionPlan,SUM(B.ASSOC_VULN_TOT_CNT) Instances

		FROM	'+@Schema+'.CLNT_RMDTN_PLN						B
		WHERE	 B.CLNT_ENGMT_CD					=	'''+@CLNT_ENGMT_CD+'''
		AND		 ISNULL(B.RMDTN_OWNR_USER_ID,0)				=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISNULL(B.RMDTN_OWNR_USER_ID,0)	 ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		 ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END
		'
EXECUTE(@Query)
--PRINT(@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRemediationComplete]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50),
	@RMDTN_OWNR_USER_ID	 INTEGER	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
  SET		  @Query ='	 
  SELECT   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''OPEN'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''CLOSED'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''I''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''Inprogress'',
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)OpenCount,
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)CloseCount,
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''I'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)InprogressCount
 FROM	  '+ @schema+'.CLNT_RMDTN_PLN		  A
 JOIN	  '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	  B
 ON		  A.CLNT_RMDTN_PLN_KEY				= B.CLNT_RMDTN_PLN_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
 AND	  ISNULL(A.RMDTN_OWNR_USER_ID,0)				=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISNULL(A.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
 AND	  ISDATE(A.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(A.RMDTN_PLN_NTF_DT) ELSE 1 END
'
--PRINT @Query
 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRemediationOwner]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
    @schema				 VARCHAR(50),
	@RMDTN_OWNR_USER_ID	 INTEGER		
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)

 
 SET		  @Query ='	 
 SELECT   A.RMDTN_OWNR_USER_ID,D.FST_NM+'' ''+D.LST_NM UserName,
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Open'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''I''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Inprogress'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''R''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Risk Registered'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''A''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Risk Accepted'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Closed'',
		  COUNT(DISTINCT A.CLNT_RMDTN_PLN_KEY )''UserCount''
 FROM	  '+ @schema+'.CLNT_RMDTN_PLN			  A
 JOIN	  '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	  B
 ON		  A.CLNT_RMDTN_PLN_KEY					= B.CLNT_RMDTN_PLN_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC			  C
 ON		  B.CLNT_VULN_INSTC_KEY					= C.CLNT_VULN_INSTC_KEY
 JOIN	  RMDTN_PLN_STS							  E
 ON		  A.RMDTN_PLN_STS_CD					= E.RMDTN_PLN_STS_CD
 LEFT JOIN	  USER_PRFL								  D
 ON		  A.RMDTN_OWNR_USER_ID					= D.USER_ID
 WHERE    C.CLNT_ENGMT_CD						= '''+@CLNT_ENGMT_CD + '''
 AND	  ISNULL(A.RMDTN_OWNR_USER_ID,0)					=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISNULL(A.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
 AND	  ISDATE(A.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(A.RMDTN_PLN_NTF_DT) ELSE 1 END
 GROUP BY A.RMDTN_OWNR_USER_ID,D.FST_NM,D.LST_NM
'
--PRINT @Query
 EXECUTE (@Query)

 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE  [dbo].[RMDTN_ReportRemediationSeveirty]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50),
	@RMDTN_OWNR_USER_ID	 INTEGER		
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)

SET @Query='


		SELECT  C.RMDTN_PLN_STS_NM,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	VULN_SEV							F
		ON		B.RMDTN_PLN_SEV_CD	=	F.VULN_SEV_CD
		JOIN	RMDTN_PLN_STS			C
		ON		B.RMDTN_PLN_STS_CD	=	C.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND	    ISNULL(B.RMDTN_OWNR_USER_ID,0)	=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISNULL(B.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END
		GROUP BY C.RMDTN_PLN_STS_NM


		'
 EXECUTE(@Query)
--PRINT(@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE  [dbo].[RMDTN_ReportRemediationNotification]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
	@Schema				 VARCHAR(50),
	@RMDTN_OWNR_USER_ID	 INTEGER		
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
DECLARE @Query VARCHAR(MAX)
DECLARE @Query1 VARCHAR(MAX)



 SET @Query1='
SELECT  PlanDuration,Critical,High,Medium,Low FROM(

		SELECT  ''>90''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND		(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>90) 
		AND	    ISNULL(B.RMDTN_OWNR_USER_ID,0)	=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN  ISNULL(B.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		 ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END
		UNION

		SELECT  ''61-90''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND 	(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>60 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=90) 
		AND	    ISNULL(B.RMDTN_OWNR_USER_ID,0)	=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN  ISNULL(B.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		 ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END
		UNION
		SELECT  ''31-60''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND		(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END)>30 
		AND 	DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END)<=60)
		AND	    ISNULL(B.RMDTN_OWNR_USER_ID,0)	=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN  ISNULL(B.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		 ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END
		UNION

		SELECT  ''11-30''PlanDuration,COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND		(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>10 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=30)
		AND	     ISNULL(B.RMDTN_OWNR_USER_ID,0)	=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN  ISNULL(B.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		 ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END
		UNION

		SELECT  ''6-10''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND 	(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>5 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=10)
		AND	     ISNULL(B.RMDTN_OWNR_USER_ID,0)	=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN  ISNULL(B.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		 ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END		
		UNION

		SELECT   ''3-5''PlanDuration,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND		(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>2 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=5)
		AND	     ISNULL(B.RMDTN_OWNR_USER_ID,0)	=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN  ISNULL(B.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		 ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END
		UNION

		SELECT  ''0-2''PlanDuration,COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''C'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Critical,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''H'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)High,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''M'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Medium,
				COUNT(CASE WHEN B.RMDTN_PLN_SEV_CD=''L'' THEN  B.CLNT_RMDTN_PLN_KEY ELSE NULL END)Low
		FROM	'+@Schema+'.CLNT_RMDTN_PLN			B
		JOIN	RMDTN_PLN_STS			F
		ON		B.RMDTN_PLN_STS_CD	=	F.RMDTN_PLN_STS_CD
		WHERE	B.CLNT_ENGMT_CD		=	'''+@CLNT_ENGMT_CD+'''
		AND 	(ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)>=0 
		AND		ISNULL(DATEDIFF(DAY,B.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(B.RMDTN_PLN_CLOS_DT,'''') ='''' THEN GETDATE() ELSE  B.RMDTN_PLN_CLOS_DT END),0)<=2)
		AND	     ISNULL(B.RMDTN_OWNR_USER_ID,0)	=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN  ISNULL(B.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
		AND		 ISDATE(B.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(B.RMDTN_PLN_NTF_DT) ELSE 1 END
)Z
 		ORDER BY CASE WHEN PlanDuration=''>90'' THEN 0
		WHEN PlanDuration=''61-90'' THEN 1
		WHEN PlanDuration=''31-60'' THEN 2
		WHEN PlanDuration=''11-30'' THEN 3
		WHEN PlanDuration=''6-10''  THEN 4
		WHEN PlanDuration=''3-5''   THEN 5
		WHEN PlanDuration=''0-2''   THEN 6 END
'
  EXECUTE(@Query1)
-- PRINT(@Query1)

 	--	ORDER BY CASE WHEN PlanDuration=''>90'' THEN 0
		--WHEN PlanDuration=''61-90'' THEN 1
		--WHEN PlanDuration=''31-60'' THEN 2
		--WHEN PlanDuration=''11-30'' THEN 3
		--WHEN PlanDuration=''6-10''  THEN 4
		--WHEN PlanDuration=''3-5''   THEN 5
		--WHEN PlanDuration=''0-2''   THEN 6 END	
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRiksRegistry]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
	@SECUR_SRVC_CD	VARCHAR(100),	
	@Flag			VARCHAR(2),-- AP - Application,SS-SSID,AL- ALL
	@APPNETCD		VARCHAR(500),
    @schema			VARCHAR(50),
	@ACPT_USER_ID	INTEGER	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
 SET		  @Query ='	 

 SELECT   COUNT(DISTINCT CASE WHEN A.SUM_ADJ_SEV_CD=''C'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Critical'',
		  COUNT(DISTINCT CASE WHEN A.SUM_ADJ_SEV_CD=''H'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''High'',
		  COUNT(DISTINCT CASE WHEN A.SUM_ADJ_SEV_CD=''M'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Medium'',
		  COUNT(DISTINCT CASE WHEN A.SUM_ADJ_SEV_CD=''L'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Low'',
		  COUNT(DISTINCT A.CLNT_RISK_RGST_KEY)''Risk'',
		  COUNT(DISTINCT B.CLNT_VULN_INSTC_KEY)''Items''
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 JOIN	  VULN_SEV							  D
 ON		  A.SUM_ADJ_SEV_CD					= D.VULN_SEV_CD
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
 AND	  ISNULL(A.ACPT_USER_ID,0)			= CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISNULL(A.ACPT_USER_ID,0)	 ELSE '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+' END
 AND	ISDATE(A.NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISDATE(A.NTF_DT) ELSE 1 END
'

 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRiksRegistryResponse]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50),
	@ACPT_USER_ID	INTEGER		
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
  SET		  @Query ='	 
  SELECT   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RISK_RGST_KEY)))*100''OPEN'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')<>'''' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RISK_RGST_KEY)))*100''CLOSED'',
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END) Opencount,
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')<>'''' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END) Closecount
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
 AND	  ISNULL(A.ACPT_USER_ID,0)			= CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISNULL(A.ACPT_USER_ID,0)	 ELSE '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+' END
  AND	  ISDATE(A.NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISDATE(A.NTF_DT) ELSE 1 END
'
---PRINT @Query
 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRiksRegistryOwner]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50),
	@ACPT_USER_ID	INTEGER		
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)

 
 SET		  @Query ='	 
 SELECT   A.ACPT_USER_ID,D.FST_NM+'' ''+D.LST_NM UserName,
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''A''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Accepted'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''M''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Mitigate'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''S''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Share'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''T''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Transfer'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RISK_RSPN_CD,'''')=''V''  THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Avoid'',
		  COUNT(DISTINCT A.CLNT_RISK_RGST_KEY )''UserCount''
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 JOIN	  USER_PRFL							  D
 ON		  A.ACPT_USER_ID					= D.USER_ID
 JOIN	  RISK_RSPN							  E
 ON		  A.RISK_RSPN_CD					= E.RISK_RSPN_CD
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
 AND	  ISNULL(A.ACPT_USER_ID,0)			= CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISNULL(A.ACPT_USER_ID,0)	 ELSE '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+' END
  AND	  ISDATE(A.NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISDATE(A.NTF_DT) ELSE 1 END
 GROUP BY A.ACPT_USER_ID,D.FST_NM,D.LST_NM
'
--PRINT @Query
 EXECUTE (@Query)

 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRiksRegistrySeverity]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50),
	@ACPT_USER_ID	INTEGER		
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)

 
 SET		  @Query ='	 
 SELECT   A.ACPT_USER_ID,D.FST_NM+'' ''+D.LST_NM UserName,
		  COUNT(DISTINCT CASE WHEN A.SUM_ADJ_SEV_CD=''C'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Critical'',
		  COUNT(DISTINCT CASE WHEN A.SUM_ADJ_SEV_CD=''H'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''High'',
		  COUNT(DISTINCT CASE WHEN A.SUM_ADJ_SEV_CD=''M'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Medium'',
		  COUNT(DISTINCT CASE WHEN A.SUM_ADJ_SEV_CD=''L'' THEN A.CLNT_RISK_RGST_KEY ELSE NULL END)''Low'',
		  COUNT(DISTINCT A.CLNT_RISK_RGST_KEY )''UserCount''
 FROM	  '+ @schema+'.CLNT_RISK_RGST		  A
 JOIN	  '+ @schema+'.CLNT_RISK_RGST_ITM	  B
 ON		  A.CLNT_RISK_RGST_KEY				= B.CLNT_RISK_RGST_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 LEFT JOIN	  USER_PRFL							  D
 ON		  A.ACPT_USER_ID					= D.USER_ID
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
 AND	  ISNULL(A.ACPT_USER_ID,0)			= CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISNULL(A.ACPT_USER_ID,0)	 ELSE '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+' END
 AND	  ISDATE(A.NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISDATE(A.NTF_DT) ELSE 1 END
 GROUP BY A.ACPT_USER_ID,D.FST_NM,D.LST_NM
'
--PRINT @Query
EXECUTE (@Query)



 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO
ALTER PROCEDURE [dbo].[RMDTN_ReportRegistryDetails]
(
	@CLNT_ENGMT_CD			VARCHAR(50),
	@schema					VARCHAR(50),
	@ADJ_SEV_CD				VARCHAR(2),
	@ACPT_USER_ID			INTEGER	

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT  C.CLNT_RISK_RGST_KEY,A.ORG_KEY,A.RMDTN_PLN_STS_CD,B.RMDTN_PLN_STS_NM,A.RMDTN_PLN_NM,
					   ISNULL(DATEDIFF(DAY,A.RMDTN_PLN_NTF_DT,CASE WHEN ISNULL(A.RMDTN_PLN_CLOS_DT,'''')='''' THEN GETDATE() ELSE A.RMDTN_PLN_CLOS_DT END ),0)  ''Days Open'',
					  COUNT(D.CLNT_VULN_INSTC_KEY)Instances,
					  (A.ASSOC_VULN_CMPL_CNT/A.ASSOC_VULN_TOT_CNT)*100 ''Completion''
					 
		
	FROM	'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN	RMDTN_PLN_STS							B
	ON		A.RMDTN_PLN_STS_CD				=		B.RMDTN_PLN_STS_CD
	JOIN	'+ @schema+'.CLNT_RISK_RGST								C
	ON		A.CLNT_RMDTN_PLN_KEY			=		C.CLNT_RMDTN_PLN_KEY
	JOIN	'+ @schema+'.CLNT_RISK_RGST_ITM						D
	ON		C.CLNT_RISK_RGST_KEY			=		D.CLNT_RISK_RGST_KEY
	WHERE	C.SUM_ADJ_SEV_CD					=		CASE WHEN '''+@ADJ_SEV_CD+''' = '''' THEN 	C.SUM_ADJ_SEV_CD ELSE '''+@ADJ_SEV_CD+''' END
	AND		A.CLNT_ENGMT_CD					=		'''+@CLNT_ENGMT_CD + '''
	AND	    ISNULL(C.ACPT_USER_ID,0)			= CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISNULL(C.ACPT_USER_ID,0)	 ELSE '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+' END
	 AND	ISDATE(C.NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@ACPT_USER_ID)+'= 0 THEN ISDATE(C.NTF_DT) ELSE 1 END
	GROUP BY C.CLNT_RISK_RGST_KEY,A.ORG_KEY,A.RMDTN_PLN_STS_CD,A.RMDTN_PLN_NM,A.RMDTN_PLN_NTF_DT,A.ASSOC_VULN_CMPL_CNT,A.ASSOC_VULN_TOT_CNT,B.RMDTN_PLN_STS_NM,A.RMDTN_PLN_CLOS_DT
 '
--	PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END



GO

ALTER PROCEDURE [dbo].[RMDTN_GetRiskRegistrylist]
(
	@CLNT_ENGMT_CD			VARCHAR(30),
	@Userid					INTEGER,
	@schema					VARCHAR(50),
	@UserFlag				VARCHAR(2)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)

	IF	@UserFlag	= 'RO' --Registry Owner
	BEGIN
	SET		@Query = '
	SELECT  A.CLNT_RISK_RGST_KEY,A.SUM_ADJ_SEV_CD,A.CLNT_RMDTN_PLN_KEY,B.RMDTN_PLN_NM,A.RISK_RGST_ITM_TOT_CNT,
			A.RISK_RSPN_CD,A.ACPT_DT,A.ACPT_USER_ID,C.VULN_SEV_NM,D.RISK_RSPN_NM,F.FST_NM,F.LST_NM,A.ACPT_USER_SGN_TXT																																																																																																																																																													
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	JOIN	USER_PRFL								F
	ON		F.USER_ID						=		A.ENT_USER_ID
	LEFT JOIN	VULN_SEV								C
	ON		C.VULN_SEV_CD					=		A.SUM_ADJ_SEV_CD
    LEFT JOIN    RISK_RSPN								D
    ON      A.RISK_RSPN_CD						=   D.RISK_RSPN_CD
--	JOIN	CLNT_RISK_RGST_ITM						E
--	ON		E.CLNT_RISK_RGST_KEY			=		A.CLNT_RISK_RGST_KEY

	WHERE	B.CLNT_ENGMT_CD					=		'''+CONVERT(VARCHAR,@CLNT_ENGMT_CD)+'''
	AND		A.ACPT_USER_ID					=		'+CONVERT(VARCHAR,@Userid)+'
	AND		ISNULL(A.NTF_DT,'''')	<>		''''
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')='''' THEN A.CREAT_DT ELSE A.UPDT_DT END DESC
 '
--	PRINT    @Query
	EXECUTE (@Query)
	END

	IF	@UserFlag	= 'RA' --Remediation Cordinator or Remediation Analyst Owner
	BEGIN
	SET		@Query = 'SELECT  A.CLNT_RISK_RGST_KEY,A.SUM_ADJ_SEV_CD,A.CLNT_RMDTN_PLN_KEY,B.RMDTN_PLN_NM,A.RISK_RGST_ITM_TOT_CNT,
					  A.RISK_RSPN_CD,A.ACPT_DT,A.ACPT_USER_ID,C.VULN_SEV_NM,D.RISK_RSPN_NM,F.FST_NM	,F.LST_NM,A.ACPT_USER_SGN_TXT																																																																																																																																																													
			
	FROM	'+ @schema+'.CLNT_RISK_RGST				A
	JOIN	'+ @schema+'.CLNT_RMDTN_PLN				B
	ON		A.CLNT_RMDTN_PLN_KEY			=		B.CLNT_RMDTN_PLN_KEY
	LEFT JOIN	VULN_SEV								C
	ON		C.VULN_SEV_CD					=		A.SUM_ADJ_SEV_CD
    LEFT JOIN    RISK_RSPN								D
    ON      A.RISK_RSPN_CD						=   D.RISK_RSPN_CD
--	JOIN	CLNT_RISK_RGST_ITM						E
--	ON		E.CLNT_RISK_RGST_KEY			=		A.CLNT_RISK_RGST_KEY
	JOIN	USER_PRFL								F
	ON		F.USER_ID						=		'+CONVERT(VARCHAR,@Userid)+'
	WHERE	B.CLNT_ENGMT_CD					=		'''+CONVERT(VARCHAR,@CLNT_ENGMT_CD)+'''
--	AND		A.ENT_USER_ID					=		'+CONVERT(VARCHAR,@Userid)+'
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')=''''  THEN A.CREAT_DT ELSE A.UPDT_DT END DESC
 '
--	PRINT    @Query
	EXECUTE (@Query)
	END

END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END






GO

ALTER PROCEDURE [dbo].[RMDTN_GetRiskInfoByKey]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@schema					VARCHAR(50)

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	SET		@Query = 'SELECT B.CLNT_RISK_RGST_KEY, B.ENT_DT,B.SUM_ADJ_SEV_CD,B.SUM_COMP_CTL_TXT,A.ORG_KEY,B.ENT_USER_ID,
					  C.FST_NM REG_OWNR_FST_NM,C.LST_NM REG_OWNR_LST_NM,C.DEPT_NM REG_OWNR_DEPT_NM,
					  A.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,A.RMDTN_OWNR_USER_ID,E.DEPT_NM RMDTN_OWNR_DEPT_NM,
					  E.FST_NM RMDTN_OWNR_FST_NM,E.LST_NM RMDTN_OWNR_LST_NM,A.RMDTN_PLN_STS_CD,A.RMDTN_PLN_NM,A.RMDTN_PLN_DESC,
					  A.RMDTN_PLN_CREAT_DT, A.RMDTN_PLN_NTF_DT,A.RMDTN_PLN_STRT_DT,A.RMDTN_PLN_DUE_DT,A.RMDTN_PLN_CLOS_DT,B.ACPT_USER_ID,
					  A.CREAT_DT,A.CREAT_USER_ID,D.RISK_RSPN_NM,B.RISK_RSPN_CD,B.RISK_JSTFY_TXT,B.ACPT_USER_SGN_TXT,B.ACPT_DT,B.NTF_DT,F.VULN_SEV_NM
		
	FROM		'+ @schema+'.CLNT_RMDTN_PLN				A
	JOIN		'+ @schema+'.CLNT_RISK_RGST				B
	ON			A.CLNT_RMDTN_PLN_KEY				=	B.CLNT_RMDTN_PLN_KEY
	LEFT JOIN	USER_PRFL								C
	ON			B.ACPT_USER_ID						=	C.USER_ID
	LEFT JOIN	USER_PRFL								E
	ON			A.RMDTN_OWNR_USER_ID				=	E.USER_ID
	LEFT JOIN   RISK_RSPN								D
    ON			B.RISK_RSPN_CD						=   D.RISK_RSPN_CD
	LEFT JOIN   VULN_SEV								F
	ON			F.VULN_SEV_CD						=	B.SUM_ADJ_SEV_CD
	WHERE		B.CLNT_RISK_RGST_KEY				=	'+CONVERT(VARCHAR(50),@CLNT_RISK_RGST_KEY)+'
	AND			A.ROW_STS_KEY						=	1
 '
	--PRINT    @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

ALTER PROCEDURE [dbo].[RMDTN_GetPlanListByEngmt]
(
	@CLNT_ENGMT_CD			VARCHAR(50),
	@schema					VARCHAR(50),
	@Userid					INTEGER,
	@Flag					VARCHAR(3)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON
	DECLARE @Query VARCHAR(max)

	IF @Flag	= 'AL'
	BEGIN

	SET		@Query = 'SELECT  A.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,A.RMDTN_OWNR_USER_ID,CONCAT(C.FST_NM,'''',C.LST_NM)Owner,
					  A.RMDTN_PLN_STS_CD,B.RMDTN_PLN_STS_NM,
					  A.RMDTN_PLN_NM,A.RMDTN_PLN_DESC,A.RMDTN_PLN_CREAT_DT,A.RMDTN_PLN_NTF_DT,A.RMDTN_PLN_STRT_DT,
					  A.RMDTN_PLN_DUE_DT,A.RMDTN_PLN_CLOS_DT,A.ASSOC_VULN_TOT_CNT,A.ASSOC_VULN_CMPL_CNT,A.ORG_KEY,
					  DATEDIFF(DAY,A.RMDTN_PLN_NTF_DT,GETDATE()) DAYSOPEN,
					  CASE WHEN A.ASSOC_VULN_TOT_CNT <> 0 THEN CONVERT(INTEGER,(convert(numeric(18,2),A.ASSOC_VULN_CMPL_CNT)/convert(numeric(18,2),A.ASSOC_VULN_TOT_CNT))*100) ELSE 0 END Completion


	FROM	'+ @schema+'.CLNT_RMDTN_PLN		A
	JOIN	RMDTN_PLN_STS					B
	ON		A.RMDTN_PLN_STS_CD		=		B.RMDTN_PLN_STS_CD
	LEFT JOIN	USER_PRFL						C
	ON		A.RMDTN_OWNR_USER_ID	=		C.USER_ID
	WHERE	A.CLNT_ENGMT_CD			=		'''+ @CLNT_ENGMT_CD+'''
	AND		A.ROW_STS_KEY			=		1 
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')='''' THEN A.CREAT_DT ELSE A.UPDT_DT END DESC'
 
 	--PRINT    @Query
	 EXECUTE (@Query)
	END

	IF @Flag	= 'RO'
	BEGIN

	SET		@Query = 'SELECT  A.CLNT_RMDTN_PLN_KEY,A.CLNT_ENGMT_CD,A.RMDTN_OWNR_USER_ID,CONCAT(C.FST_NM,'''',C.LST_NM)Owner,
					  A.RMDTN_PLN_STS_CD,B.RMDTN_PLN_STS_NM,
					  A.RMDTN_PLN_NM,A.RMDTN_PLN_DESC,A.RMDTN_PLN_CREAT_DT,A.RMDTN_PLN_NTF_DT,A.RMDTN_PLN_STRT_DT,
					  A.RMDTN_PLN_DUE_DT,A.RMDTN_PLN_CLOS_DT,A.ASSOC_VULN_TOT_CNT,A.ASSOC_VULN_CMPL_CNT,A.ORG_KEY,
					  DATEDIFF(DAY,A.RMDTN_PLN_NTF_DT,GETDATE()) DAYSOPEN,
					  CASE WHEN A.ASSOC_VULN_TOT_CNT <> 0 THEN CONVERT(INTEGER,(convert(numeric(18,2),A.ASSOC_VULN_CMPL_CNT)/convert(numeric(18,2),A.ASSOC_VULN_TOT_CNT))*100) ELSE 0 END Completion


	FROM	'+ @schema+'.CLNT_RMDTN_PLN		A
	JOIN	RMDTN_PLN_STS					B
	ON		A.RMDTN_PLN_STS_CD		=		B.RMDTN_PLN_STS_CD
	JOIN	USER_PRFL						C
	ON		A.RMDTN_OWNR_USER_ID	=		C.USER_ID
	WHERE	A.CLNT_ENGMT_CD			=		'''+ @CLNT_ENGMT_CD+'''
	AND		A.ROW_STS_KEY			=		1
	AND		A.RMDTN_OWNR_USER_ID	=		'+ isnull('''' + convert(varchar(10),@Userid) + '''','null') + '
	AND		ISNULL(RMDTN_PLN_NTF_DT,'''') <>''''
	ORDER BY CASE WHEN ISNULL(A.UPDT_DT,'''')='''' THEN A.CREAT_DT ELSE A.UPDT_DT END DESC'
 
 --	PRINT    @Query
EXECUTE (@Query)
	END



END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END




