
GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRemediationComplete]
(
	
	@CLNT_ENGMT_CD	VARCHAR(100),
    @schema			 VARCHAR(50),
	@RMDTN_OWNR_USER_ID	 INTEGER	
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)
 
  SET		  @Query ='	 
  SELECT   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''OPEN'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''CLOSED'',
		   CONVERT(NUMERIC(18,2),(COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''P''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END))/
		   CONVERT(NUMERIC(18,2),COUNT(DISTINCT  A.CLNT_RMDTN_PLN_KEY)))*100''Inprogress'',
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)OpenCount,
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)CloseCount,
		   COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''P'' THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)InprogressCount
 FROM	  '+ @schema+'.CLNT_RMDTN_PLN		  A
 JOIN	  '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	  B
 ON		  A.CLNT_RMDTN_PLN_KEY				= B.CLNT_RMDTN_PLN_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC					  C
 ON		  B.CLNT_VULN_INSTC_KEY				= C.CLNT_VULN_INSTC_KEY
 WHERE    C.CLNT_ENGMT_CD					= '''+@CLNT_ENGMT_CD + '''
 AND	  ISNULL(A.RMDTN_OWNR_USER_ID,0)				=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISNULL(A.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
 AND	  ISDATE(A.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(A.RMDTN_PLN_NTF_DT) ELSE 1 END
'
--PRINT @Query
 EXECUTE (@Query)
 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

ALTER PROCEDURE [dbo].[RMDTN_ReportRemediationOwner]
(
	
	@CLNT_ENGMT_CD		 VARCHAR(100),
    @schema				 VARCHAR(50),
	@RMDTN_OWNR_USER_ID	 INTEGER		
)
AS
BEGIN

BEGIN TRY
SET NOCOUNT ON
 DECLARE @Query VARCHAR(max)

 
 SET		  @Query ='	 
 SELECT   A.RMDTN_OWNR_USER_ID,D.FST_NM+'' ''+D.LST_NM UserName,
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''O''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Open'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''P''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Inprogress'',
		--  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''R''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Risk Registered'',
		--  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''A''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Risk Accepted'',
		  COUNT(DISTINCT CASE WHEN ISNULL(A.RMDTN_PLN_STS_CD,'''')=''C''  THEN A.CLNT_RMDTN_PLN_KEY ELSE NULL END)''Closed'',
		  COUNT(DISTINCT A.CLNT_RMDTN_PLN_KEY )''UserCount''
 FROM	  '+ @schema+'.CLNT_RMDTN_PLN			  A
 JOIN	  '+ @schema+'.CLNT_VULN_RMDTN_PLN_ITM	  B
 ON		  A.CLNT_RMDTN_PLN_KEY					= B.CLNT_RMDTN_PLN_KEY
 JOIN	  '+ @schema+'.CLNT_VULN_INSTC			  C
 ON		  B.CLNT_VULN_INSTC_KEY					= C.CLNT_VULN_INSTC_KEY
 JOIN	  RMDTN_PLN_STS							  E
 ON		  A.RMDTN_PLN_STS_CD					= E.RMDTN_PLN_STS_CD
 LEFT JOIN	  USER_PRFL								  D
 ON		  A.RMDTN_OWNR_USER_ID					= D.USER_ID
 WHERE    C.CLNT_ENGMT_CD						= '''+@CLNT_ENGMT_CD + '''
 AND	  ISNULL(A.RMDTN_OWNR_USER_ID,0)					=	CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISNULL(A.RMDTN_OWNR_USER_ID,0) ELSE '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+' END
 AND	  ISDATE(A.RMDTN_PLN_NTF_DT)=CASE WHEN '+CONVERT(VARCHAR(50),@RMDTN_OWNR_USER_ID)+'= 0 THEN ISDATE(A.RMDTN_PLN_NTF_DT) ELSE 1 END
 GROUP BY A.RMDTN_OWNR_USER_ID,D.FST_NM,D.LST_NM
'
--PRINT @Query
 EXECUTE (@Query)

 
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END






GO
-- EXEC [RMDTN_UpdateRmdtnNtfDate] 1,1,'Apo3'
ALTER PROCEDURE [dbo].[RMDTN_UpdateRmdtnNtfDate]
(
	@CLNT_RMDTN_PLN_KEY		INTEGER,
	@Userid					INTEGER,
	@schema					VARCHAR(50)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)
	
	SET		@Query =		'UPDATE '+@schema+'.CLNT_RMDTN_PLN
							 SET RMDTN_PLN_NTF_DT		=   '+ 'CASE WHEN ISNULL(RMDTN_PLN_NTF_DT,'''')='''' THEN GETDATE() ELSE RMDTN_PLN_NTF_DT END' +',
							 UPDT_DT					=	'+'GETDATE()'+',
							 UPDT_USER_ID				=	'+CONVERT(VARCHAR,@Userid)+'
							 WHERE CLNT_RMDTN_PLN_KEY	=   '+CONVERT(VARCHAR,@CLNT_RMDTN_PLN_KEY)+''
	
	 SELECT @@ROWCOUNT AS RETVALS
 
	--     @Query
	EXECUTE (@Query)


END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END


GO

ALTER PROCEDURE [dbo].[RMDTN_UpdRegistryUserDate]
(
	@CLNT_RISK_RGST_KEY		INTEGER,
	@ENT_USER_ID			INTEGER,
	@Userid					INTEGER,
	@schema					VARCHAR(50),
	@Flag					VARCHAR(1)

	

)
AS
BEGIN


BEGIN TRY
SET NOCOUNT ON	
	DECLARE @Query VARCHAR(max)
	
	IF		@Flag ='U'
	BEGIN
	SET		@Query =		'UPDATE '+ @schema+'.CLNT_RISK_RGST
							SET 
							NTF_DT				= '+ 'CASE WHEN ISNULL(NTF_DT,'''')='''' THEN GETDATE() ELSE NTF_DT END' +',
							ACPT_USER_ID		=  '+ isnull('''' + convert(varchar,@ENT_USER_ID) + '''','null') + ',
							UPDT_DT				=	'+'GETDATE()'+',
							UPDT_USER_ID		=	'+CONVERT(VARCHAR,@Userid)+'
							WHERE	
							CLNT_RISK_RGST_KEY	=  '+CONVERT(VARCHAR,@CLNT_RISK_RGST_KEY)+''
	
	
 
--	PRINT    @Query
	EXECUTE (@Query)
	 SELECT @@ROWCOUNT AS RETVALS
	END
END TRY

BEGIN CATCH

    DECLARE @ErrorNumber INT = ERROR_NUMBER();
    DECLARE @ErrorLine INT = ERROR_LINE();
    DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
    DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
    DECLARE @ErrorState INT = ERROR_STATE();

    PRINT 'Actual error number: ' + CAST(@ErrorNumber AS VARCHAR(10));
    PRINT 'Actual line number: ' + CAST(@ErrorLine AS VARCHAR(10));

    RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
  END CATCH
-- COMMIT TRANSACTION
END
