/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 1, 2016, 10:31:43 AM
    Author     : schanganti
*/

.ux-vnav {padding-top:17px;}


#popupbox{
position: fixed;
top: 30%;
left: 45%;
margin-top: 0px; /*half of the height plus a little to the top*/
margin-left: -250px; /*half of the width */
visibility: hidden;
display: none;
background-color: white;
	border: 3px solid #F47B29;

	padding-bottom: 13px;
color: #333;
padding: 0;
height: auto;
width:600px;
z-index: 10;

font-size: 12px;
}