/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 11, 2016, 4:22:07 PM
    Author     : sathuluri
*/

.ux-vnav {padding-top:17px;}
div.t_fixed_header.ui .body tr td {
    border-width 	: 0px 1px 1px 1px;
    border-style 	: solid;
    background		: none;
    border-color:#ddd;
}
div.t_fixed_header.ui .body td {
    padding			: 13px;
    text-align 		: left;
    line-height		: 15px;
    vertical-align :top;
}
div.t_fixed_header.ui.default .body td:last-child{
    border-right-width:1px;
}