/*Copyright 2013 Allison Stone*/

.span4  ul {list-style-type:none; }
.parent-list  { float:left; width:150px!important; padding-top: 26px!important; position: relative; }
.parent-list  li {  display: inline-block; padding: 2px 13px;   }
.parent-list  ul {  margin-top:10px;   }
.parent-list  ul li{  width:250px;   }
input[type="radio"], input[type="checkbox"] {margin:-4px 0 0 0;}

i {color:#666;cursor:pointer;margin:1px 0 0 0;position:relative;top:1px;}

#container {width:1000px;margin:0 auto;}