@charset "utf-8";
/*
	
	overrides-richfaces.css
	Versions (Current version is at the top of the list below)
		1.0	- Initial version

This file provides a mechanism by which you can override RichFaces styles. Only UIMF UI Toolkit teams should modify this file. Project teams should make their changes (including any re-branding) to overrides-project.css.

*/



/************************************************************************************ Data Scroller (Pagination) */

.uitk-pagi-grid .rf-ds {
    line-height: 13px;
}
.uitk-pagi-grid .rf-ds:first-child:before {
    content: "Pages:";
    font-weight: bold;
}
.uitk-pagi-grid .rf-ds-btn {
    background: none;
    border: 0;
    padding: 0 7px;
}
.uitk-pagi-grid .rf-ds-btn-first span:before {
    content: "<<";
}
.uitk-pagi-grid .rf-ds-btn-prev span:before {
    content: "<";
}
.uitk-pagi-grid .rf-ds-btn-next span:after {
    content: ">";
}
.uitk-pagi-grid .rf-ds-btn-last span:after {
    content: ">>";
}
.uitk-pagi-grid a.rf-ds-btn,
.uitk-pagi-grid a.rf-ds-nmb-btn {
    color: #0066cc;
}
.uitk-pagi-grid .rf-ds-nmb-btn {
	border: 0;
    background: none;
    margin: 0;
    padding: 0 7px;
    width: auto;
}
.uitk-pagi-grid .rf-ds-btn-prev,
.uitk-pagi-grid .rf-ds-nmb-btn {
    border-right: 1px solid #323335;
}

.uitk-pagi-grid .rf-ds-nmb-btn:HOVER {
	border: 0;
	border-right: 1px solid #323335;
    background: none;
    margin: 0;
    padding: 0 7px;
    width: auto;
}

.uitk-pagi-grid span.rf-ds-btn,
.uitk-pagi-grid span.rf-ds-nmb-btn,
.uitk-pagi-grid span.rf-ds-dis {
	color: #323335;
}


/************************************************************************************ Global Utility Navigation (with drop-down) */
.rf-ddm-itm-ic{
	display: none;
}
.rf-ddm-pos {
    left: -7px;
}
.rf-ddm-lst, .rf-ddm-itm-unsel, .rf-ddm-itm-sel, .rf-ddm-lst-bg {
    background: none repeat scroll 0 0 transparent;
    border: 0 none;
}
.rf-ddm-lst {
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 3px 3px #B1B3B3;
    border: 1px solid #B1B3B3 \9;
    border-top: 0 none \9;
    padding: 3px;
    text-align: left;
}
.rf-ddm-itm {
    font: inherit;
}
.rf-ddm-itm-lbl {
    color: #0066CC;
}
.rf-ddm-itm-sel .rf-ddm-itm-lbl {
    text-decoration: underline;
}
.rf-ddm-itm-unsel, .rf-ddm-itm-sel, .rf-ddm-itm {
    padding: 1px 4px;
}
.rf-ddm-emptyIcon {
    display: none;
}